In [89]:
import requests
import bs4
from bs4 import BeautifulSoup
import urllib
import numpy as np
import pandas as pd
import matplotlib as plt
import sys 
import importlib
import re
URL = {'Data analyst':"https://sg.indeed.com/jobs?as_and=data+analyst&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=&as_src=&radius=0&l=Singapore&fromage=any&limit=10&sort=&psf=advsrch&from=advancedsearch",
       'Data scientist': 'https://sg.indeed.com/jobs?as_and=data+scientist&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=&as_src=&radius=0&l=Singapore&fromage=any&limit=10&sort=&psf=advsrch&from=advancedsearch'
       }
#'Data engineer': 'https://hk.indeed.com/jobs?q=data%20engineer&l=Hong%20Kong&radius=0&vjk=7fd03b6ed658179e'
href = {}
for category ,URL in URL.items():
    html = requests.get(URL)
    soup = BeautifulSoup(html.text, "html.parser")    
    cnt = 0

    while True:
        # find all job postings in each page
        for i in soup.find_all('h2',class_='title'):        
            try:
                href['https://sg.indeed.com' + i.a['href']] = category

            except:
                np.nan

        # go to next page
        cnt += 1 # number of times that have proceeded to next page so far
        pg_num = int(soup.find(class_='pagination').find_all('a',attrs = {'href':True})[-1]['href'].split('=')[-1])/10
        # to get the page number from url

        if cnt == pg_num:
            next_pg = soup.find(class_='pagination').find_all('a',attrs = {'href':True})[-1]['href']
            URL2 = 'https://sg.indeed.com'+ next_pg
            html = requests.get(URL2)
            soup = BeautifulSoup(html.text,'lxml')
        else:
            break

In [90]:
len(href.keys())

1152

In [91]:
# get title, company name, salary, job requirement, soft skills, technical skills, industry 
title = []
company = []
ftpt= []
location = []
issued_time = []
description = []
salary = []
review = []
review_num = []

cnt = 0
for i in href.keys():
    # go to each link one by one
    indi_html = requests.get(i)
    indi_soup = BeautifulSoup(indi_html.text,'html.parser')
    
    # find job title
    try:
        indi_title = indi_soup.find('h3',class_="icl-u-xs-mb--xs icl-u-xs-mt--none jobsearch-JobInfoHeader-title").text       
    except:
        indi_title = np.nan
    
    # find company name
    try:
        indi_company = indi_soup.find('div',class_="icl-u-lg-mr--sm icl-u-xs-mr--xs").text     
    except:
        indi_company = np.nan
    # find job type    
    try:
        #to find ptft keywords by joining all results as string
        temp = ''.join([str(i) for i in indi_soup.find_all(class_="jobsearch-JobMetadataHeader-iconLabel")])
        if 'Full-time' in temp and 'Part-time' in temp:
            indi_ftpt = 'Full-time / Part-time'
        elif 'Full-time' in temp:
            indi_ftpt = 'Full-time'
        elif 'Part-time' in temp:
            indi_ftpt = 'Part-time'
        elif 'Temporary' in temp:
            indi_ftpt = 'Temporary'
        else:
            indi_ftpt = np.nan      
    except:
        indi_ftpt = np.nan
    
    # find working location
    try: 
        indi_location = indi_soup.find_all('span',class_="jobsearch-JobMetadataHeader-iconLabel")[0].text
    except:
        indi_location = np.nan
    #find the posting time
    try:
        temp_time = indi_soup.find('div',class_="jobsearch-JobMetadataFooter").text
        indi_time = re.findall('Just posted|Today|\d+',temp_time)[-1]
        if indi_time in ['Just posted','Today']:
            indi_time = '0'
    except:
        indi_time = np.nan
    
    try:
        indi_desc = indi_soup.find('div',id='jobDescriptionText').text
    except:
        indi_desc = np.nan
    
    
   # to find the salary by joining all related html as a string
    temp_salary = "".join([str(i) for i in indi_soup.find_all(class_="jobsearch-JobMetadataHeader-itemWithIcon icl-u-textColor--secondary icl-u-xs-mt--xs")])
    salary_str = re.findall('\$.*0',temp_salary)
    if salary_str:
        indi_salary = salary_str[0]
    else:
        indi_salary = np.nan
           
    # find the popularity
    try:
        temp_review = indi_soup.find(class_="icl-Ratings-starsCountWrapper")['aria-label']
        indi_review = re.findall(r"\d[.]*\d*",str(temp_review))[0]
    except:
        indi_review = np.nan
    # find the number of review
    try:
        indi_review_num = indi_soup.find(class_="icl-Ratings-count").text.replace(' reviews','')
    except:
        indi_review_num = np.nan
    
    # Add all results into related list
    title.append(indi_title)
    company.append(indi_company)
    ftpt.append(indi_ftpt)
    location.append(indi_location)
    issued_time.append(indi_time)
    description.append(indi_desc)
    salary.append(indi_salary)
    review.append(indi_review)
    review_num.append(indi_review_num)
    
    #optional: for monitoring the progress
    cnt+=1
    print(cnt)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152

In [92]:
# add a new column for loacation comparasion
Country = ['Singapore' for i in range(len(list(href.values())))]
df = pd.DataFrame(data={'Issued time':issued_time,'Country':Country,'Job category': list(href.values()),'Job title':title,'Company':company,'Part time/ Full Time': ftpt,'Star review':review,'Number of reviews': review_num,'Location':location,'Job description': description,'Salary':salary, 'Indeed link': list(href.keys())})

In [93]:
# sort data in ascending order
df['Issued time'] = df['Issued time'].astype(int)
df.sort_values('Issued time', axis = 0, ascending = True, inplace=True)
df = df.drop_duplicates(['Job title','Company'],keep ='first')

In [94]:
removed_ls = ['Support','Programmer','Intern','Executive Assistant']
df = df[~df['Job title'].isin(removed_ls)]

In [95]:
def issue_time(x):
    x = str(x)
    if ' days ago' in x:
        modified = x.replace('days ago','')
    elif 'day ago' in x:
        modified = x.replace(' day ago','')
    elif 'Today' in x or 'Just posted' in x:
        modified = '0'
    else:
        modified = x
    if '+' in x:
        modified = x.replace('+',"")
    return modified
df['Issued time'] = df['Issued time'].apply(issue_time)

In [96]:
def min_max_salary(x):
    value = re.findall('((\d+)(k|K|m|M)*(\d*\.\d*)*(k|K|m|M))|((\d+,d+)-(d*,*d*))|(\d+,\d+)-*(\d*,*\d*)',x)     
    if len(value) == 0:
        min_result = np.nan
        max_result = np.nan
        
    elif len(value) >= 1:
        temp_result = []
        final_result = []
        
        # to remove empty string
        for tpl in value:
            indi_tpl = list(filter(lambda x: x !='', list(tpl)))
            temp_result.append(indi_tpl)
            
        for numls in temp_result:
            # to convert string into number
            if any(j in ['K','k'] for j in numls[0]):
                num = numls[0].replace('K','')
                num = num.replace('k','')
                num = float(num) * 1000
            elif any(j in ['M','m'] for j in numls[0]):
                num = numls[0].replace('M','')
                num = num.replace('m','')
                num = float(num) * 1000000
            elif ',' in numls[0]:
                num = float(''.join(numls[0].split(',')))
            else:
                num = np.nan
            
            final_result.append(num)
        if len(value) == 1:
            min_result, max_result = final_result[0], final_result[0]
        else:
            min_result = final_result[0]
            max_result = final_result[1]
    return [min_result, max_result]


df['Title salary'] = df['Job title'].apply(min_max_salary)
df['Min title salary']=df['Title salary'].apply(lambda x: x[0])
df['Max title salary']=df['Title salary'].apply(lambda x: x[1])

In [97]:
def min_max_salary_column(x):
    try:
        salary_str = str(x).replace('$','').replace(',','')

        if '-' in salary_str:
            numls = salary_str.split('-')
            min_salary = int(numls[0])
            max_salary = int(numls[1])
        else:
            min_salary, max_salary = int(salary_str),int(salary_str)
    except:
        min_salary, max_salary = np.nan, np.nan
    
    return [min_salary,max_salary]

df['Salary'] =  df['Salary'].apply(min_max_salary_column) 
df['Min header salary'] = df['Salary'].apply(lambda x: x[0])
df['Max header salary'] = df['Salary'].apply(lambda x: x[1])

In [98]:
df['Min salary'] = df['Min header salary'].fillna(df['Min title salary'])
df['Max salary'] = df['Max header salary'].fillna(df['Max title salary'])
df['Min salary'] = df['Min salary'].apply(lambda x:x*5.42 )
df['Max salary'] = df['Max salary'].apply(lambda x:x*5.42 )
df['Average salary'] = df.loc[:,'Min salary':'Max salary'].mean(axis=1)

def salary_range(x):
    if x < 10000:
        group = 'Below 10000'
    elif 10000 <= x < 20000:
        group = '10000-19999'
    elif 20000 <= x < 30000:
        group = '20000-29999'
    elif 30000 <= x < 40000:
        group = '30000-39999'
    elif 40000 <= x < 50000:
        group = '40000-49999'
    elif 50000 <= x < 60000:
        group = '50000-59999'
    elif 60000 <= x < 70000:
        group = '60000-69999'
    elif x>= 70000:
        group = '70000 or above'
    else:
        group = 'Not Mentioned'
    return group
    
df['Salary group'] = df['Average salary'].apply(salary_range)    
df = df.drop(['Salary','Title salary','Min header salary','Max header salary','Min title salary','Max title salary'],axis=1)

df

     Issued time    Country    Job category  \
333            0  Singapore    Data analyst
766            0  Singapore  Data scientist
147            0  Singapore    Data analyst
252            0  Singapore    Data analyst
770            0  Singapore  Data scientist
976            0  Singapore  Data scientist
748            0  Singapore  Data scientist
749            0  Singapore  Data scientist
1137           0  Singapore  Data scientist
37             0  Singapore    Data analyst
408            0  Singapore    Data analyst
410            0  Singapore    Data analyst
413            0  Singapore    Data analyst
41             0  Singapore    Data analyst
750            0  Singapore  Data scientist
43             0  Singapore    Data analyst
51             0  Singapore    Data analyst
1096           0  Singapore  Data scientist
221            0  Singapore    Data analyst
20             0  Singapore    Data analyst
469            0  Singapore    Data analyst
486            0  Singapore    Data analyst
127            0  Singapore    Data analyst
93             0  Singapore  Data scientist
3              0  Singapore    Data analyst
5              0  Singapore    Data analyst
648            0  Singapore    Data analyst
7              0  Singapore    Data analyst
740            0  Singapore    Data analyst
65             0  Singapore    Data analyst
11             0  Singapore    Data analyst
1019           0  Singapore  Data scientist
308            1  Singapore    Data analyst
398            1  Singapore    Data analyst
505            1  Singapore    Data analyst
84             1  Singapore    Data analyst
890            1  Singapore  Data scientist
383            1  Singapore    Data analyst
73             1  Singapore    Data analyst
550            1  Singapore    Data analyst
132            1  Singapore    Data analyst
130            1  Singapore    Data analyst
381            1  Singapore    Data analyst
61             1  Singapore    Data analyst
62             1  Singapore    Data analyst
117            1  Singapore    Data analyst
405            1  Singapore    Data analyst
76             1  Singapore    Data analyst
195            1  Singapore    Data analyst
397            1  Singapore    Data analyst
89             1  Singapore    Data analyst
775            1  Singapore  Data scientist
4              1  Singapore    Data analyst
209            1  Singapore    Data analyst
183            1  Singapore    Data analyst
343            1  Singapore    Data analyst
13             1  Singapore    Data analyst
360            1  Singapore    Data analyst
214            1  Singapore    Data analyst
537            1  Singapore    Data analyst
16             1  Singapore    Data analyst
169            1  Singapore    Data analyst
164            1  Singapore    Data analyst
874            1  Singapore  Data scientist
152            1  Singapore    Data analyst
467            1  Singapore    Data analyst
27             1  Singapore    Data analyst
170            2  Singapore    Data analyst
758            2  Singapore  Data scientist
922            2  Singapore  Data scientist
141            2  Singapore    Data analyst
920            2  Singapore  Data scientist
901            2  Singapore  Data scientist
489            2  Singapore    Data analyst
103            2  Singapore  Data scientist
106            2  Singapore    Data analyst
587            2  Singapore    Data analyst
760            2  Singapore  Data scientist
668            2  Singapore    Data analyst
266            2  Singapore    Data analyst
182            2  Singapore    Data analyst
456            2  Singapore    Data analyst
114            2  Singapore    Data analyst
848            2  Singapore  Data scientist
260            2  Singapore    Data analyst
126            2  Singapore    Data analyst
179            2  Singapore    Data analyst
670            2  Singapore    Data analyst
430            2  Singapore    Data analyst
462            2  Singapore    Data analyst
414            2  Singapore    Data analyst
563            2  Singapore    Data analyst
331            2  Singapore    Data analyst
319            2  Singapore    Data analyst
22             2  Singapore    Data analyst
545            2  Singapore    Data analyst
72             2  Singapore  Data scientist
373            2  Singapore  Data scientist
736            2  Singapore    Data analyst
289            2  Singapore    Data analyst
823            2  Singapore  Data scientist
970            2  Singapore  Data scientist
723            2  Singapore    Data analyst
286            2  Singapore    Data analyst
529            2  Singapore    Data analyst
356            2  Singapore    Data analyst
55             2  Singapore    Data analyst
339            2  Singapore    Data analyst
768            3  Singapore  Data scientist
815            3  Singapore  Data scientist
122            3  Singapore    Data analyst
837            3  Singapore  Data scientist
54             3  Singapore    Data analyst
765            3  Singapore  Data scientist
753            3  Singapore  Data scientist
1029           3  Singapore  Data scientist
133            3  Singapore    Data analyst
2              3  Singapore    Data analyst
1097           3  Singapore  Data scientist
272            3  Singapore    Data analyst
135            3  Singapore    Data analyst
140            4  Singapore    Data analyst
796            4  Singapore  Data scientist
929            4  Singapore  Data scientist
167            5  Singapore    Data analyst
171            5  Singapore    Data analyst
787            5  Singapore  Data scientist
578            5  Singapore    Data analyst
752            5  Singapore  Data scientist
178            5  Singapore    Data analyst
785            5  Singapore  Data scientist
10             5  Singapore    Data analyst
658            5  Singapore    Data analyst
1              5  Singapore    Data analyst
201            5  Singapore    Data analyst
199            5  Singapore    Data analyst
925            5  Singapore  Data scientist
329            5  Singapore    Data analyst
471            5  Singapore    Data analyst
0              5  Singapore    Data analyst
116            5  Singapore    Data analyst
722            5  Singapore    Data analyst
295            5  Singapore    Data analyst
764            5  Singapore  Data scientist
99             5  Singapore    Data analyst
301            5  Singapore    Data analyst
864            5  Singapore  Data scientist
551            5  Singapore    Data analyst
58             5  Singapore    Data analyst
603            5  Singapore    Data analyst
67             5  Singapore    Data analyst
1127           5  Singapore  Data scientist
778            6  Singapore  Data scientist
818            6  Singapore  Data scientist
460            6  Singapore    Data analyst
488            6  Singapore    Data analyst
497            6  Singapore    Data analyst
567            6  Singapore    Data analyst
761            6  Singapore  Data scientist
481            6  Singapore    Data analyst
380            6  Singapore    Data analyst
917            6  Singapore  Data scientist
57             6  Singapore    Data analyst
838            6  Singapore  Data scientist
120            6  Singapore    Data analyst
1092           6  Singapore  Data scientist
1091           6  Singapore  Data scientist
574            6  Singapore    Data analyst
88             6  Singapore    Data analyst
763            6  Singapore  Data scientist
790            6  Singapore  Data scientist
913            7  Singapore  Data scientist
26             7  Singapore    Data analyst
280            7  Singapore    Data analyst
809            7  Singapore  Data scientist
802            7  Singapore  Data scientist
694            7  Singapore    Data analyst
1031           7  Singapore  Data scientist
125            7  Singapore    Data analyst
1007           8  Singapore  Data scientist
844            8  Singapore  Data scientist
542            8  Singapore    Data analyst
274            8  Singapore    Data analyst
382            8  Singapore    Data analyst
348            8  Singapore    Data analyst
401            8  Singapore    Data analyst
358            8  Singapore    Data analyst
386            8  Singapore    Data analyst
389            8  Singapore    Data analyst
612            8  Singapore    Data analyst
955            8  Singapore  Data scientist
332            8  Singapore    Data analyst
792            8  Singapore  Data scientist
1021           8  Singapore  Data scientist
363            8  Singapore    Data analyst
350            8  Singapore    Data analyst
185            8  Singapore    Data analyst
690            8  Singapore    Data analyst
151            8  Singapore    Data analyst
81             8  Singapore    Data analyst
91             8  Singapore    Data analyst
1093           8  Singapore  Data scientist
52             8  Singapore    Data analyst
773            8  Singapore  Data scientist
530            8  Singapore    Data analyst
534            8  Singapore    Data analyst
17             8  Singapore    Data analyst
40             8  Singapore    Data analyst
479            8  Singapore    Data analyst
238            9  Singapore    Data analyst
1042           9  Singapore  Data scientist
849            9  Singapore  Data sc

In [99]:
def min_edu_lv(x):
    x = str(x)
    if 'Diploma' in x:
        edu_lv = 'Diploma'
        
    elif ' hd ' in x.lower() or 'higher diploma' in x.lower():
        edu_lv = 'Higher Diploma'
    
    elif 'bachelor' in x.lower() or 'university' in x.lower() or 'degree holder' in x.lower() or 'Degree' in x or 'Bsc' in x:
        edu_lv = 'Bachelor'
        
    elif "master's" in x.lower() or 'MBA' in x or 'Msc' in x or 'Master' in x:
        edu_lv = "Master"
        
    elif 'phd' in x.lower() or 'doctorate' in x.lower():
        edu_lv = 'PhD'
        
    else:
        edu_lv = 'Not specified'

    return edu_lv

def max_edu_lv(x):
    x = str(x)
    if 'phd' in x.lower() or 'doctorate' in x.lower():
        edu_lv = 'PhD'
        
    elif "master's" in x.lower() or 'MBA' in x or 'Msc' in x or 'Master' in x:
        edu_lv = "Master"
    
    elif 'bachelor' in x.lower() or 'university' in x.lower() or 'degree holder' in x.lower() or 'Degree' in x:
        edu_lv = 'Bachelor'
        
    elif ' hd ' in x.lower() or 'higher diploma' in x.lower():
        edu_lv = 'Higher Diploma'
        
    elif 'Diploma' in x:
        edu_lv = 'Diploma'
    else:
        edu_lv = 'Not specified'

    return edu_lv
        

df['Minimum education level'] = df['Job description'].apply(min_edu_lv)
df['Maximum education level'] = df['Job description'].apply(max_edu_lv)

In [100]:
skill_ls = {'Python': ['Python','Python'.lower()], 
             'Machine Learning':['Machine Learning'.lower(), 'Machine Learning'],
             'JavaScript': ['JavaSript'.lower(),'JavaScript'],
             'R':[' R '],
             'Java':['Java ','Java'.lower(),' Java '],
             'IoT':['IoT'],
             'Excel':['Microsoft Excel','Excel',' Excel '], 
             'Power BI':['BI','Power BI'],
             'English':['English','english'],
             'Chinese':['Cantonese','Cantonese'.lower(),'Mandarin','Mandarin'.lower(),'Chinese','Chinese'.lower(),"Putonghua",'putonghua'],
             'SAS':['SAS','sas'.lower()],
             'Oracle':['Oracle','Oracle'.lower()],
             'C++':['C++','c++'],
             'C#':['C#','c#'],
             'C':[' C ',' c '],
             'Qlik':['Qlik','Qlik'.lower()],
             'alteryx':['Alteryx','Altery'],
             'Tableau':['tableau','Tableau'],
             'SPSS':['SPSS','SPSS'.lower()],
             'Powerpoint':['Microsoft Powerpoint','Microsoft Powerpoint'.lower(),'Powerpoint','powerpoint'.lower()],
             'PostgreSQL':['PostgreSQL','PostgreSQL'.lower()],
             'SQL':[' SQL ',' SQL '.lower()],
             'MySQL':['MySQL','MySQL'.lower()]}    

# Summarize skills into two categories
program_ls = []
visual_ls = []
for ls in [skill_ls['Python'],skill_ls['R']]:
    for j in ls:
        program_ls.append(j)
for ls in [skill_ls['Tableau'], skill_ls['Qlik'], skill_ls['Power BI']]:
    for j in ls:
        visual_ls.append(j)
skill_ls['Visualisation tool'] = visual_ls
skill_ls['Programming tool'] = program_ls
# append to column
for key, value in skill_ls.items():
    df[key] = df['Job description'].apply(lambda x: 'Y'  if any(j in x for j in value) else np.nan)

In [101]:
df

     Issued time    Country    Job category  \
333            0  Singapore    Data analyst
766            0  Singapore  Data scientist
147            0  Singapore    Data analyst
252            0  Singapore    Data analyst
770            0  Singapore  Data scientist
976            0  Singapore  Data scientist
748            0  Singapore  Data scientist
749            0  Singapore  Data scientist
1137           0  Singapore  Data scientist
37             0  Singapore    Data analyst
408            0  Singapore    Data analyst
410            0  Singapore    Data analyst
413            0  Singapore    Data analyst
41             0  Singapore    Data analyst
750            0  Singapore  Data scientist
43             0  Singapore    Data analyst
51             0  Singapore    Data analyst
1096           0  Singapore  Data scientist
221            0  Singapore    Data analyst
20             0  Singapore    Data analyst
469            0  Singapore    Data analyst
486            0  Singapore    Data analyst
127            0  Singapore    Data analyst
93             0  Singapore  Data scientist
3              0  Singapore    Data analyst
5              0  Singapore    Data analyst
648            0  Singapore    Data analyst
7              0  Singapore    Data analyst
740            0  Singapore    Data analyst
65             0  Singapore    Data analyst
11             0  Singapore    Data analyst
1019           0  Singapore  Data scientist
308            1  Singapore    Data analyst
398            1  Singapore    Data analyst
505            1  Singapore    Data analyst
84             1  Singapore    Data analyst
890            1  Singapore  Data scientist
383            1  Singapore    Data analyst
73             1  Singapore    Data analyst
550            1  Singapore    Data analyst
132            1  Singapore    Data analyst
130            1  Singapore    Data analyst
381            1  Singapore    Data analyst
61             1  Singapore    Data analyst
62             1  Singapore    Data analyst
117            1  Singapore    Data analyst
405            1  Singapore    Data analyst
76             1  Singapore    Data analyst
195            1  Singapore    Data analyst
397            1  Singapore    Data analyst
89             1  Singapore    Data analyst
775            1  Singapore  Data scientist
4              1  Singapore    Data analyst
209            1  Singapore    Data analyst
183            1  Singapore    Data analyst
343            1  Singapore    Data analyst
13             1  Singapore    Data analyst
360            1  Singapore    Data analyst
214            1  Singapore    Data analyst
537            1  Singapore    Data analyst
16             1  Singapore    Data analyst
169            1  Singapore    Data analyst
164            1  Singapore    Data analyst
874            1  Singapore  Data scientist
152            1  Singapore    Data analyst
467            1  Singapore    Data analyst
27             1  Singapore    Data analyst
170            2  Singapore    Data analyst
758            2  Singapore  Data scientist
922            2  Singapore  Data scientist
141            2  Singapore    Data analyst
920            2  Singapore  Data scientist
901            2  Singapore  Data scientist
489            2  Singapore    Data analyst
103            2  Singapore  Data scientist
106            2  Singapore    Data analyst
587            2  Singapore    Data analyst
760            2  Singapore  Data scientist
668            2  Singapore    Data analyst
266            2  Singapore    Data analyst
182            2  Singapore    Data analyst
456            2  Singapore    Data analyst
114            2  Singapore    Data analyst
848            2  Singapore  Data scientist
260            2  Singapore    Data analyst
126            2  Singapore    Data analyst
179            2  Singapore    Data analyst
670            2  Singapore    Data analyst
430            2  Singapore    Data analyst
462            2  Singapore    Data analyst
414            2  Singapore    Data analyst
563            2  Singapore    Data analyst
331            2  Singapore    Data analyst
319            2  Singapore    Data analyst
22             2  Singapore    Data analyst
545            2  Singapore    Data analyst
72             2  Singapore  Data scientist
373            2  Singapore  Data scientist
736            2  Singapore    Data analyst
289            2  Singapore    Data analyst
823            2  Singapore  Data scientist
970            2  Singapore  Data scientist
723            2  Singapore    Data analyst
286            2  Singapore    Data analyst
529            2  Singapore    Data analyst
356            2  Singapore    Data analyst
55             2  Singapore    Data analyst
339            2  Singapore    Data analyst
768            3  Singapore  Data scientist
815            3  Singapore  Data scientist
122            3  Singapore    Data analyst
837            3  Singapore  Data scientist
54             3  Singapore    Data analyst
765            3  Singapore  Data scientist
753            3  Singapore  Data scientist
1029           3  Singapore  Data scientist
133            3  Singapore    Data analyst
2              3  Singapore    Data analyst
1097           3  Singapore  Data scientist
272            3  Singapore    Data analyst
135            3  Singapore    Data analyst
140            4  Singapore    Data analyst
796            4  Singapore  Data scientist
929            4  Singapore  Data scientist
167            5  Singapore    Data analyst
171            5  Singapore    Data analyst
787            5  Singapore  Data scientist
578            5  Singapore    Data analyst
752            5  Singapore  Data scientist
178            5  Singapore    Data analyst
785            5  Singapore  Data scientist
10             5  Singapore    Data analyst
658            5  Singapore    Data analyst
1              5  Singapore    Data analyst
201            5  Singapore    Data analyst
199            5  Singapore    Data analyst
925            5  Singapore  Data scientist
329            5  Singapore    Data analyst
471            5  Singapore    Data analyst
0              5  Singapore    Data analyst
116            5  Singapore    Data analyst
722            5  Singapore    Data analyst
295            5  Singapore    Data analyst
764            5  Singapore  Data scientist
99             5  Singapore    Data analyst
301            5  Singapore    Data analyst
864            5  Singapore  Data scientist
551            5  Singapore    Data analyst
58             5  Singapore    Data analyst
603            5  Singapore    Data analyst
67             5  Singapore    Data analyst
1127           5  Singapore  Data scientist
778            6  Singapore  Data scientist
818            6  Singapore  Data scientist
460            6  Singapore    Data analyst
488            6  Singapore    Data analyst
497            6  Singapore    Data analyst
567            6  Singapore    Data analyst
761            6  Singapore  Data scientist
481            6  Singapore    Data analyst
380            6  Singapore    Data analyst
917            6  Singapore  Data scientist
57             6  Singapore    Data analyst
838            6  Singapore  Data scientist
120            6  Singapore    Data analyst
1092           6  Singapore  Data scientist
1091           6  Singapore  Data scientist
574            6  Singapore    Data analyst
88             6  Singapore    Data analyst
763            6  Singapore  Data scientist
790            6  Singapore  Data scientist
913            7  Singapore  Data scientist
26             7  Singapore    Data analyst
280            7  Singapore    Data analyst
809            7  Singapore  Data scientist
802            7  Singapore  Data scientist
694            7  Singapore    Data analyst
1031           7  Singapore  Data scientist
125            7  Singapore    Data analyst
1007           8  Singapore  Data scientist
844            8  Singapore  Data scientist
542            8  Singapore    Data analyst
274            8  Singapore    Data analyst
382            8  Singapore    Data analyst
348            8  Singapore    Data analyst
401            8  Singapore    Data analyst
358            8  Singapore    Data analyst
386            8  Singapore    Data analyst
389            8  Singapore    Data analyst
612            8  Singapore    Data analyst
955            8  Singapore  Data scientist
332            8  Singapore    Data analyst
792            8  Singapore  Data scientist
1021           8  Singapore  Data scientist
363            8  Singapore    Data analyst
350            8  Singapore    Data analyst
185            8  Singapore    Data analyst
690            8  Singapore    Data analyst
151            8  Singapore    Data analyst
81             8  Singapore    Data analyst
91             8  Singapore    Data analyst
1093           8  Singapore  Data scientist
52             8  Singapore    Data analyst
773            8  Singapore  Data scientist
530            8  Singapore    Data analyst
534            8  Singapore    Data analyst
17             8  Singapore    Data analyst
40             8  Singapore    Data analyst
479            8  Singapore    Data analyst
238            9  Singapore    Data analyst
1042           9  Singapore  Data scientist
849            9  Singapore  Data sc

In [102]:
df.to_csv('Indeed4.csv')

In [37]:
pwd

'/Users/dick/Downloads'