#  Step 1: Import all libraries required

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
import urllib
import numpy as np
import pandas as pd
import matplotlib as plt
import sys 
import importlib
import re

# Step 2A : Web Scrapping - Scrap the link of each job listing

- Store all links to a list called 'href'

- To save the scrapping time, remove all duplicated links by using set function

In [3]:
URL = {'Data analyst':"https://hk.indeed.com/jobs?as_and=data+analyst&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=fulltime&st=&as_src=&salary=&radius=0&l=Hong+Kong&fromage=any&limit=10&sort=&psf=advsrch&from=advancedsearch",
       'Data scientist': 'https://hk.indeed.com/jobs?as_and=data+scientist&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=&as_src=&salary=&radius=0&l=Hong+Kong&fromage=any&limit=10&sort=&psf=advsrch&from=advancedsearch',
       }
#'Data engineer': 'https://hk.indeed.com/jobs?q=data%20engineer&l=Hong%20Kong&radius=0&vjk=7fd03b6ed658179e'
href = {}
for category ,URL in URL.items():
    html = requests.get(URL)
    soup = BeautifulSoup(html.text, "html.parser")    
    cnt = 0

    while True:
        # find all job postings in each page
        for i in soup.find_all('h2',class_='title'):        
            try:
                href['https://hk.indeed.com' + i.a['href']] = category

            except:
                np.nan

        # go to next page
        cnt += 1 # number of times that have proceeded to next page so far
        pg_num = int(soup.find(class_='pagination').find_all('a',attrs = {'href':True})[-1]['href'].split('=')[-1])/10
        # to get the page number from url

        if cnt == pg_num:
            next_pg = soup.find(class_='pagination').find_all('a',attrs = {'href':True})[-1]['href']
            URL2 = 'https://hk.indeed.com'+ next_pg
            html = requests.get(URL2)
            soup = BeautifulSoup(html.text,'lxml')
        else:
            break

In [4]:
len(href.keys())

978

# Step 2B : Web Scrapping - Scrap all required data from each job listing

- Related data:
   - Issued Time
   
   - Job title

   - Company name
   
   - Location
   
   - Job type (Full-Time / Part- Time)
   
   - Job description
   
   - Salary
   
   - Star rating

In [5]:
# get title, company name, salary, job requirement, soft skills, technical skills, industry 
title = []
company = []
ftpt= []
location = []
issued_time = []
description = []
salary = []
review = []
review_num = []

cnt = 0
for i in href.keys():
    # go to each link one by one
    indi_html = requests.get(i)
    indi_soup = BeautifulSoup(indi_html.text,'html.parser')
    
    # find job title
    try:
        indi_title = indi_soup.find('h3',class_="icl-u-xs-mb--xs icl-u-xs-mt--none jobsearch-JobInfoHeader-title").text       
    except:
        indi_title = np.nan
    
    # find company name
    try:
        indi_company = indi_soup.find('div',class_="icl-u-lg-mr--sm icl-u-xs-mr--xs").text     
    except:
        indi_company = np.nan
    # find job type    
    try:
        #to find ptft keywords by joining all results as string
        temp = ''.join([str(i) for i in indi_soup.find_all(class_="jobsearch-JobMetadataHeader-iconLabel")])
        if 'Full-time' in temp and 'Part-time' in temp:
            indi_ftpt = 'Full-time / Part-time'
        elif 'Full-time' in temp:
            indi_ftpt = 'Full-time'
        elif 'Part-time' in temp:
            indi_ftpt = 'Part-time'
        elif 'Temporary' in temp:
            indi_ftpt = 'Temporary'
        else:
            indi_ftpt = np.nan      
    except:
        indi_ftpt = np.nan
    
    # find working location
    try: 
        indi_location = indi_soup.find_all('span',class_="jobsearch-JobMetadataHeader-iconLabel")[0].text
    except:
        indi_location = np.nan
    #find the posting time
    try:
        temp_time = indi_soup.find('div',class_="jobsearch-JobMetadataFooter").text
        indi_time = re.findall('Just posted|Today|\d+',temp_time)[-1]
        if indi_time in ['Just posted','Today']:
            indi_time = '0'
    except:
        indi_time = np.nan
    
    try:
        indi_desc = indi_soup.find('div',id='jobDescriptionText').text
    except:
        indi_desc = np.nan
    
    
   # to find the salary by joining all related html as a string
    temp_salary = "".join([str(i) for i in indi_soup.find_all(class_="jobsearch-JobMetadataHeader-itemWithIcon icl-u-textColor--secondary icl-u-xs-mt--xs")])
    salary_str = re.findall('\$.*0',temp_salary)
    if salary_str:
        indi_salary = salary_str[0]
    else:
        indi_salary = np.nan
           
    # find the popularity
    try:
        temp_review = indi_soup.find(class_="icl-Ratings-starsCountWrapper")['aria-label']
        indi_review = re.findall(r"\d[.]*\d*",str(temp_review))[0]
    except:
        indi_review = np.nan
    # find the number of review
    try:
        indi_review_num = indi_soup.find(class_="icl-Ratings-count").text.replace(' reviews','')
    except:
        indi_review_num = np.nan
    
    # Add all results into related list
    title.append(indi_title)
    company.append(indi_company)
    ftpt.append(indi_ftpt)
    location.append(indi_location)
    issued_time.append(indi_time)
    description.append(indi_desc)
    salary.append(indi_salary)
    review.append(indi_review)
    review_num.append(indi_review_num)
    
    #optional: for monitoring the progress
    cnt+=1
    print(cnt)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978

# Step 3: Data Frame Creation

- Use the data above to create a dataframe

In [21]:
# add a new column for loacation comparasion
Country = ['Hong Kong' for i in range(len(list(href.values())))]
df = pd.DataFrame(data={'Issued time':issued_time,'Country':Country,'Job category': list(href.values()),'Job title':title,'Company':company,'Part time/ Full Time': ftpt,'Star review':review,'Number of reviews': review_num,'Location':location,'Job description': description,'Salary':salary, 'Indeed link': list(href.keys())})

In [22]:
pd.set_option('display.max_columns', 10000)
pd.set_option('display.max_rows', 10000)

# Step 4: Data Cleaning

# Remove Duplicates

- sort data in ascending order based on issued time
- Remove duplicated data based on Job Title and Company
- (since some company may repost and their job listing details)

In [23]:
# sort data in ascending order
df['Issued time'] = df['Issued time'].astype(int)
df.sort_values('Issued time', axis = 0, ascending = True, inplace=True)
df = df.drop_duplicates(['Job title','Company'],keep ='first')

# Remove irrelevant data based on Job Title
- Job title to be removed:
  - 'Support'
  - 'Programmer'
  - 'Intern'
  - 'Executive Assistant'

In [24]:
removed_ls = ['Support','Programmer','Intern','Executive Assistant']
df = df[~df['Job title'].isin(removed_ls)]

# Time of Posting 

This indicates that wheather this job listing is still available, which could also implies that whether the job is easy to get.

In [25]:
def issue_time(x):
    x = str(x)
    if ' days ago' in x:
        modified = x.replace('days ago','')
    elif 'day ago' in x:
        modified = x.replace(' day ago','')
    elif 'Today' in x or 'Just posted' in x:
        modified = '0'
    else:
        modified = x
    if '+' in x:
        modified = x.replace('+',"")
    return modified
df['Issued time'] = df['Issued time'].apply(issue_time)

# Number of Reviews

In [26]:
df['Number of reviews'] = df['Number of reviews'].apply(lambda x: int(x.replace(',','')) if ',' in str(x) else x)
#df['Number of reviews'] = df['Number of reviews'].apply(lambda x: re.sub(r',','',x) if ',' in str(x) else x)
#re.sub > replace a pattern with a string
df

,Issued time,Country,Job category,Job title,Company,Part time/ Full Time,Star review,Number of reviews,Location,Job description,Salary,Indeed link
612,0,Hong Kong,Data analyst,Analyst Programmer/ Senior .NET Developer,Mtel Solutions Limited,Full-time,NaN,NaN,Hong Kong,"We are digital enabler\n\nWe create ideas, dep...",NaN,https://hk.indeed.com/rc/clk?jk=f49711d0e78bfd...
551,0,Hong Kong,Data analyst,Analyst Programmer (Java/ .NET),Speedy Group Corp. Limited,NaN,NaN,NaN,Hong Kong,Speedy Group is one of the leading integrated ...,NaN,https://hk.indeed.com/rc/clk?jk=ab040ca9bd68f0...
106,0,Hong Kong,Data analyst,"Analyst, Fixed Income and OTC Derivatives",BOCI,Full-time,3.8,5,Hong Kong,See Job Description\n\nThe role\n\nThis incumb...,NaN,https://hk.indeed.com/rc/clk?jk=54c8494dab2114...
563,0,Hong Kong,Data analyst,QA Engineer Automated,International Recruitment Group - IRG ltd,Full-time,NaN,NaN,Hong Kong,"Duties\nDesign, Develop, Maintain Automated Te...",NaN,https://hk.indeed.com/rc/clk?jk=51f27a6b2f73ab...
859,0,Hong Kong,Data scientist,Data Scientist (Team Lead),Conners Consulting,NaN,NaN,NaN,"Sheung Wan, Hong Kong Island",Job Highlights*Formulate long term data analys...,NaN,https://hk.indeed.com/company/Conners-Consulti...
528,0,Hong Kong,Data analyst,IT Audit & Risk Assurance(Analyst to Manager)3...,Xponential Personnel Limited,Full-time / Part-time,NaN,NaN,Hong Kong,XP Personnel is a Digital Recruitment Agency t...,NaN,https://hk.indeed.com/rc/clk?jk=70bdf31b92c718...
660,0,Hong Kong,Data analyst,System Analyst / Analyst Programmer / Programm...,Leadership Solutions Limited,Full-time,NaN,NaN,Hong Kong,Founded in Hong Kong since 2003 to servebusine...,NaN,https://hk.indeed.com/rc/clk?jk=12c53b11e9c798...
264,0,Hong Kong,Data analyst,"AVP/Associate/Analyst, Infrastructure (IT Divi...",BOC International Holdings Ltd,Full-time,3.5,4,Hong Kong,As a leading investment bank in China and Hong...,NaN,https://hk.indeed.com/rc/clk?jk=dedc3668844d4f...
33,0,Hong Kong,Data analyst,Business Analyst,KY & Company,NaN,NaN,NaN,Hong Kong,Perform in depth As Is To Be analysis to deliv...,NaN,https://hk.indeed.com/company/KY-&-Company/job...
631,0,Hong Kong,Data analyst,Change Manager -up to 65K 12 months rolling co...,Protiviti Hong Kong,Full-time,NaN,NaN,Hong Kong,Protiviti is a global consulting firm that del...,NaN,https://hk.indeed.com/rc/clk?jk=2d1d202c2a4025...
870,0,Hong Kong,Data scientist,"Director, AI Research - Data Scientist",KOS International Limited,Full-time,NaN,NaN,Hong Kong,Job Description\nAbout the Client\nOur client ...,NaN,https://hk.indeed.com/rc/clk?jk=19b289c9403482...
892,0,Hong Kong,Data scientist,"Lead Data Scientist (Banking and Finance, Tele...",Techson Consulting Limited,NaN,NaN,NaN,Hong Kong,ABOUT TECHSON\n\nTechsonConsulting Limited is ...,NaN,https://hk.indeed.com/rc/clk?jk=97da343880f902...
692,0,Hong Kong,Data analyst,"System Analyst, Analyst programmer, Programmer...",Leadership Solutions Limited,Full-time,NaN,NaN,Hong Kong,Founded in Hong Kong since 2003 to serve busin...,NaN,https://hk.indeed.com/rc/clk?jk=07109a476cc3b2...
207,0,Hong Kong,Data analyst,Surveillance Manager,HSBC,NaN,4,13413,"Central, Hong Kong Island",The health and safety of our employees and can...,NaN,https://hk.indeed.com/rc/clk?jk=0497845e26686e...
828,0,Hong Kong,Data analyst,Cyber Security/IT Security(Senior Analyst to M...,Xponential Personnel Limited,Full-time / Part-time,NaN,NaN,Hong Kong,XP Personnel is a Digital Recruitment Agency t...,NaN,https://hk.indeed.com/rc/clk?jk=0fc1b3ae484915...
54,0,Hong Kong,Data analyst,Actuarial Analyst,RGA,NaN,NaN,NaN,Hong Kong,Position Overview\n\nThe Actuarial Analyst wil...,NaN,https://hk.indeed.com/rc/clk?jk=a278c47973b5f3...
723,0,Hong Kong,Data analyst,Software Engineering Director - Greenfield Pro...,Hudson,NaN,NaN,NaN,"Central and Western District, Hong Kong Island",Min. 10 years of exp. in software engineering\...,NaN,https://hk.indeed.com/rc/clk?jk=a28c7f5027d454...
278,0,Hong Kong,Data analyst,Project Manager -upto 65K 12 months rolling co...,Protiviti Hong Kong,Full-time,NaN,NaN,Hong Kong,Protiviti is a global consulting firm that del...,NaN,https://hk.indeed.com/rc/clk?jk=0455f3695b127a...
889,0,Hong Kong,Data scientist,Software Engineer,Clover Health,NaN,NaN,NaN,Hong Kong,Clover is reinventing health insurance by work...,NaN,https://hk.indeed.com/company/Clover-Health/jo...
144,0,Hong Kong,Data scientist,Data Engineer,Prime Insight,Full-time,NaN,NaN,Hong Kong,Our client is a successful start-up with stron...,NaN,https://hk.indeed.com/rc/clk?jk=1447579f419acc...
85,0,Hong Kong,Data analyst,Data Science(Analyst to Team Lead)-Fintech/Ins...,Xponential Personnel Limited,Full-time / Part-time,NaN,NaN,Hong Kong,XP Personnel is a Digital Recruitment Agency t...,NaN,https://hk.indeed.com/rc/clk?jk=9b2942124e209b...
3,0,Hong Kong,Data analyst,APAC | Hong Kong | Global Transaction Services...,Bank of America,NaN,3.8,29396,Hong Kong,Our Business\nGlobal Transaction Services (GTS...,NaN,https://hk.indeed.com/rc/clk?jk=653babb9a51de0...
647,1,Hong Kong,Data analyst,System Analyst / Analyst Programmer (Java/.Net...,Techson Consulting Limited,Full-time,NaN,NaN,Hong Kong,ABOUT TECHSON Techson Consulting Limited is a ...,NaN,https://hk.indeed.com/rc/clk?jk=5fa9c017014afb...
547,1,Hong Kong,Data analyst,Analyst Programmer (Java) – Information Techno...,Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,NaN,https://hk.indeed.com/rc/clk?jk=90657db51c7060...
329,1,Hong Kong,Data analyst,Senior Analyst Programmer (.NET) – Information...,Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,NaN,https://hk.indeed.com/rc/clk?jk=6a5a5e7e5bd152...
856,1,Hong Kong,Data scientist,Data Scientist – Innovation Analytic Lab,Match Talent,Full-time,NaN,NaN,Hong Kong,My client is looking for a talent who will be ...,NaN,https://hk.indeed.com/rc/clk?jk=e87acfd9d617c8...
850,1,Hong Kong,Data analyst,Account Manager/ Presales consultant/ / suppor...,Mtel Career Consulting,Full-time,NaN,NaN,Hong Kong,M TEL Career Consulting provides recruitment s...,NaN,https://hk.indeed.com/rc/clk?jk=babb262033d244...
364,1,Hong Kong,Data analyst,IT Business Analyst / Vice President - System ...,"Mizuho Bank, Ltd",Full-time,3.3,168,Hong Kong,"Company Overview Mizuho Bank, Limited has a lo...",NaN,https://hk.indeed.com/rc/clk?jk=6b9b9b4a0d7efe...
862,1,Hong Kong,Data scientist,Data Scientist (Team Lead),Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,NaN,https://hk.indeed.com/rc/clk?jk=41e1287b88df3c...
231,1,Hong Kong,Data analyst,Sourcing Analyst (Contract),Links International,Full-time,NaN,NaN,Hong Kong,Links International is an award-winning indust...,NaN,https://hk.indeed.com/rc/clk?jk=05d35462a60072...
315,1,Hong Kong,Data analyst,Analyst Programmer,Hong Leong Insurance (Asia) Limited,Full-time,NaN,NaN,Hong Kong,Hong Leong Insurance (Asia) Limited (HLIA) is ...,NaN,https://hk.indeed.com/rc/clk?jk=0b5226b62a04f5...
453,1,Hong Kong,Data analyst,融資經理 / Corporate Finance Manager,Brightoil Petroleum (Holdings) Limited,Full-time,NaN,NaN,Hong Kong,"Brightoil Petroleum (Holdings) Limited, is a f...",NaN,https://hk.indeed.com/rc/clk?jk=dbcb2916b17f25...
890,1,Hong Kong,Data scientist,Fintech - AI Data Scientist,Wellesley Associates,NaN,NaN,NaN,Hong Kong,Great company reputation\nCompetitive salary p...,NaN,https://hk.indeed.com/rc/clk?jk=295d56a2e0d1dc...
412,1,Hong Kong,Data analyst,Java / Telecom - Analyst Programmer / Programmer,IT Search ( Recruitment Firm ),Full-time,NaN,NaN,New Territories,Client : A global telecom corporation with sol...,"$20,000 - $35,000",https://hk.indeed.com/company/IT-Search/jobs/J...
403,1,Hong Kong,Data analyst,System Analyst - Mainframe,Hudson,NaN,NaN,NaN,"Central and Western District, Hong Kong Island","Core Banking System\nCOBOL, CICS\nPermanent Ro...",NaN,https://hk.indeed.com/rc/clk?jk=1b1b9d685de1d6...
134,1,Hong Kong,Data analyst,Assistant Financial Analyst – Finance,Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,NaN,https://hk.indeed.com/rc/clk?jk=7fba540a7a69b5...
132,1,Hong Kong,Data analyst,Business Analyst,Inchcape Hong Kong Limited,Full-time,NaN,NaN,Hong Kong,"Inchcape Hong Kong Limited Limited, Crown Moto...",NaN,https://hk.indeed.com/rc/clk?jk=72c68c0b9b017a...
131,1,Hong Kong,Data analyst,Analyst Programmer,Inchcape Hong Kong Limited,Full-time,NaN,NaN,Hong Kong,"Inchcape Hong Kong Limited Limited, Crown Moto...",NaN,https://hk.indeed.com/rc/clk?jk=c3592d204a2627...
208,1,Hong Kong,Data analyst,Senior Actuarial Analyst,Don Nelson Recruitment Limited,Full-time,NaN,NaN,Hong Kong,"Don Nelson is an unique, fast growing and awar...",NaN,https://hk.indeed.com/rc/clk?jk=e3bef660dd876f...
670,1,Hong Kong,Data analyst,Application Manager / Application Architect - ...,Links International,Full-time,NaN,NaN,Hong Kong,Links International is an award-winning indust...,NaN,https://hk.indeed.com/rc/clk?jk=21c525bdcbe48c...
490,1,Hong Kong,Data analyst,"Manager / Assistant Manager / Analyst, Informa...",Springer Professional Group Limited,Full-time,NaN,NaN,Hong Kong,As a leading executive search and recruitment ...,NaN,https://hk.indeed.com/rc/clk?jk=00edf31d9c5281...
324,1,Hong Kong,Data analyst,Analyst Programmer,Bonjour Cosmetic Wholesale Center Limited,NaN,NaN,NaN,Hong Kong,We are one of leading cosmetic retailer with o...,NaN,https://hk.indeed.com/rc/clk?jk=85b9e85745de33...
874,1,Hong Kong,Data scientist,Data Scientist (Team Lead) (Ref: ID/PRD/DS),Computer And Technologies International Limited,NaN,NaN,NaN,Hong Kong Island,Responsibility:Work with stakeholders througho...,NaN,https://hk.indeed.com/company/Computer-And-Tec...
553,1,Hong Kong,Data analyst,"Assistant Manager (Azure,O365)",KOS International Limited,Full-time,NaN,NaN,Hong Kong,Job Description\nAbout the Client\n\nOur clien...,NaN,https://hk.indeed.com/rc/clk?jk=8496b360e3aee7...
946,1,Hong Kong,Data scientist,"Manager, Consumer Insights",The Nielsen Company (Hong Kong)Ltd,NaN,3.8,2591,"Quarry Bay, Hong Kong Island","For our Hong Kong office, we are currently rec...",NaN,https://hk.indeed.com/rc/clk?jk=030c1262e565d7...
221,1,Hong Kong,Data analyst,Business Analyst,aimHigher Consultancy Limited,NaN,NaN,NaN,Hong Kong,aimHigher provides professional executive sear...,NaN,https://hk.indeed.com/rc/clk?jk=1f1b60247bdf4a...
259,2,Hong Kong,Data analyst,Senior Business Improvement Analyst,Cathay Pacific Services Limited,NaN,4.1,280,"Lantau Island, New Territories",Job Description\nWe are hiring Senior Business...,NaN,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
618,2,Hong Kong,Data analyst,Urgent !! Healthcare Team – Analyst Programmer...,Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,NaN,https://hk.indeed.com/rc/clk?jk=ed05ab89baeb30...
854,2,Hong Kong,Data scientist,Data Scientist / Associate Data Scientist / Tr...,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=9e1c44f7774b5a...
179,2,Hong Kong,Data analyst,Programmer/ Analyst Programmer (Java) x 2 Open...,Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,NaN,https://hk.indeed.com/rc/clk?jk=148569f31fba86...
228,2,Hong Kong,Data analyst,Technical Analyst - VMware,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=0df7e05652eed4...
246,2,Hong Kong,Data analyst,Cyber Security Analyst,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=3cb0c81b0dae1f...
251,2,Hong Kong,Data analyst,Project Manager / Business Analyst (Circa 480K...,ATA - Aacurapid Talent Acquisition,Full-time,NaN,NaN,Hong Kong,Job Highlight: Banking / Finance SectorProject...,"$40,000 - $58,000",https://hk.indeed.com/company/ATA---Aacurapid-...
13,2,Hong Kong,Data analyst,Web Programmer and Data Analyst:,A4lution Limited,Full-time,NaN,NaN,"Kwun Tong, Kowloon","Job Descriptions:Define, document and translat...","$15,000 - $30,000",https://hk.indeed.com/company/A4lution-Limited...
14,2,Hong Kong,Data analyst,Data Analyst,"Hong Kong Asian Ark Technologies Co., Limited",Full-time,NaN,NaN,Hong Kong,http://www.hkasianark.com/\n\nAsian ark is a y...,NaN,https://hk.indeed.com/rc/clk?jk=dd3535bbd43fbe...
472,2,Hong Kong,Data analyst,Analyst Programmer in .NET (Insurance Industry),Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,NaN,https://hk.indeed.com/rc/clk?jk=932fb4fe4f3d3e...
43,2,Hong Kong,Data analyst,Research Analyst,"Hong Kong Asian Ark Technologies Co., Limited",NaN,NaN,NaN,Hong Kong,http://www.hkasianark.com/\n\nAsian ark is a y...,NaN,https://hk.indeed.com/rc/clk?jk=238f1910ef330c...
40,2,Hong Kong,Data analyst,Operations Analyst Trainee Program,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=2c94b03b26d0db...
401,2,Hong Kong,Data analyst,Assistant Technical Analyst - Embedded System ...,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=cc710f42041ff1...
30,2,Hong Kong,Data analyst,Business Analyst Trainee Program,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=6b08bde9ad7ae1...
883,2,Hong Kong,Data scientist,Data Scientist,Radica Systems Limited,NaN,NaN,NaN,Hong Kong,WHAT YOU'LL DO:\nConstruct data science workfl...,NaN,https://hk.indeed.com/rc/clk?jk=06c6b01ba9a504...
78,2,Hong Kong,Data analyst,Data Engineer ( Telecom Industry ),IT Search ( Recruitment Firm ),Full-time,NaN,NaN,New Territories,The client is a global telecom corporation wit...,"$35,000 - $60,000",https://hk.indeed.com/company/IT-Search/jobs/D...
595,2,Hong Kong,Data analyst,"Assistant Manager/Senior Analyst, Risk Management",FTLife Insurance Company Limited,NaN,NaN,NaN,Hong Kong,FTLife Insurance Company Limited (FTLife) is o...,NaN,https://hk.indeed.com/rc/clk?jk=b83cb919e84a47...
885,2,Hong Kong,Data scientist,Data Scientist Lead (Mobile),Kai OS Technologies (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,KaiOS Technologies powers an ecosystem of affo...,NaN,https://hk.indeed.com/rc/clk?jk=c8aa2d98de0a9b...
55,2,Hong Kong,Data scientist,Assistant Technical Analyst - Machine Learning...,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,NaN,https://hk.indeed.com/rc/clk?jk=74c401805e341e...
575,2,Hong Kong,Data analyst,Urgent!! Senior System Analyst / System Analys...,Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,NaN,https://hk.indeed.com/rc/clk?jk=a7bb7687d5edbf...
898,2,Hong Kong,Data scientist,"AI Data Scientist (Computer Vision), Global Te...",Hays,NaN,3.6,846,Hong Kong,This is one of the top Technology company with...,NaN,https://hk.indeed.com/rc/clk?jk=13094aa5b2a16d...
201,3,Hong Kong,Data analyst,Business Analyst,Hutchison Telecommunications (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,Hutchison Telecommunications (Hong Kong) Limit...,NaN,https://hk.indeed.com/rc/clk?jk=26f1ddec8410f2...
952,3,Hong Kong,Data scientist,Project Manager / System Architect / Full Stac...,SmartBlkTrade,NaN,NaN,NaN,Hong Kong,Requirements ( Partially acceptable):\n\nKnowl...,NaN,https://hk.indeed.com/rc/clk?jk=a1240d47c0eb48...
439,3,Hong Kong,Data analyst,Analyst Programmer,HGC Global Communications Limited,Full-time,NaN,NaN,Hong Kong,HGC Global Communications Limited (HGC) is a l...,NaN,https://hk.indeed.com/rc/clk?jk=a1999309483808...
314,3,Hong Kong,Data analyst,Tender Management Business Analyst,Hellmann Worldwide Logistics Limited,Full-time,NaN,NaN,Hong Kong,Hellmann Worldwide Logistics is a privately ow...,NaN,https://hk.indeed.com/rc/clk?jk=64d9bae253c88a...
513,3,Hong Kong,Data analyst,Analyst Programmer/System Analyst,Innovairre Communications (Asia) Limited,NaN,NaN,NaN,Hong Kong,We are an expanding offset printing paper prod...,NaN,https://hk.indeed.com/rc/clk?jk=3f8099fd680363...
569,3,Hong Kong,Data analyst,Senior Analyst Programmer / Analyst Programmer,HGC Global Communications Limited,Full-time,NaN,NaN,Hong Kong,HGC Global Communications Limited (HGC) is a l...,NaN,https://hk.indeed.com/rc/clk?jk=af9163c9937113...
905,3,Hong Kong,Data scientist,Analytical Scientist/ Analytical Researcher (R...,Bright Future Pharmaceutical Laboratories Ltd,Full-time,NaN,NaN,Hong Kong,B right F uture Pharmaceutical Laboratories Lt...,NaN,https://hk.indeed.com/rc/clk?jk=89ac1449b3a1a3...
341,3,Hong Kong,Data analyst,Software Analyst (Backend Java development),Hutchison Telecommunications (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,Hutchison Telecommunications (Hong Kong) Limit...,NaN,https://hk.indeed.com/rc/clk?jk=81f639c6342024...
349,3,Hong Kong,Data analyst,Senior Financial Analyst - Global Law Firm,Links International,Full-time,NaN,NaN,Hong Kong,Links International is an award-winning indust...,NaN,https://hk.indeed.com/rc/clk?jk=4bc564a1399f4d...
46,3,Hong Kong,Data analyst,Senior Data Analyst/ Data Analyst (MNC/ ETL/ V...,Pro-Tech Technology (Asia) Limited,Full-time,NaN,NaN,Hong Kong,Highlight:MNC (FinTech)1 yr contract (Immediat...,NaN,https://hk.indeed.com/company/Pro--Tech-Techno...
249,3,Hong Kong,Data analyst,Assistant Business Analyst / Business Analyst ...,DCH Auriga (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,"DCH Auriga (former company name LF Asia), a me...",NaN,https://hk.indeed.com/rc/clk?jk=1e2ddfd42ade07...
476,4,Hong Kong,Data analyst,FINANCIAL ANALYST / Corporate Finance Manager ...,JPC TEXSON LTD,Full-time,NaN,NaN,Hong Kong,Hong Kong - Shenzhen - Guangzhou - Shanghai - ...,NaN,https://hk.indeed.com/rc/clk?jk=0bee5f498e9878...
483,4,Hong Kong,Data analyst,Software Quality Assurance Analyst (permanent),AHSAY SYSTEMS CORPORATION LIMITED,Full-time,NaN,NaN,Hong Kong,Ahsay™ Systems Corporation Limited is the worl...,NaN,https://hk.indeed.com/rc/clk?jk=cc9ae07c28d2b7...
5,4,Hong Kong,Data analyst,Data Analyst Trainee,Zuellig Pharma Limited,Full-time,NaN,NaN,"Quarry Bay, Hong Kong Island",Job Responsibilities: To understand the semi-a...,NaN,https://hk.indeed.com/company/Zuellig-Pharma-L...
527,5,Hong Kong,Data analyst,data analyst,Randstad,Full-time,3.7,15271,Hong Kong,about the company.A well-known property is hir...,NaN,https://hk.indeed.com/rc/clk?jk=224f65a0ae81b6...
233,5,Hong Kong,Data analyst,Associate – Corporate Finance,Southwest Securities (HK) Financial Management...,Full-time,NaN,NaN,Hong Kong,We are a subsidiary of Southwest Securities In...,NaN,https://hk.indeed.com/rc/clk?jk=d95e6cdb128daa...
385,5,Hong Kong,Data analyst,Java / Telecom - Systems Analyst / Analyst Pro...,IT Search ( Recruitment Firm ),Full-time,NaN,NaN,New Territories,Client : A leading global telecom multinationa...,"$28,000 - $50,000",https://hk.indeed.com/company/IT-Search/jobs/J...
471,5,Hong Kong,Data analyst,Java Programmer/ Analyst Programmer,Uni-China Group Holdings Ltd.,Full-time,NaN,NaN,Hong Kong,Uni-China has been established over 20 years a...,NaN,https://hk.indeed.com/rc/clk?jk=54197a3a52e436...
666,5,Hong Kong,Data analyst,"Analyst Programmer - C#, ASP.NET, MVC, MS SQL ...",Venturenix Limited,Full-time,NaN,NaN,Hong Kong,Venturenix is a recruitment company focusing o...,NaN,https://hk.indeed.com/rc/clk?jk=b9d60d05d01526...

# Step 5: Feature Engineering

# Salary

- Objective: - To find out the average salary of Data Analyst and Data Scientist 
- Find Salary from Job Title and 'Salary' Column
- if 'Salary' column is not np.nan, use the data as Salary
- If it is np.nan, use the data from Job Title

# Step A : Find the Salary from title
 
Step A: Find salary from title
- Create a list of min and max salary

Step B: Create min and max salary column
- use the data from step A

In [27]:
def min_max_salary(x):
    value = re.findall('((\d+)(k|K|m|M)*(\d*\.\d*)*(k|K|m|M))|((\d+,d+)-(d*,*d*))|(\d+,\d+)-*(\d*,*\d*)',x)     
    if len(value) == 0:
        min_result = np.nan
        max_result = np.nan
        
    elif len(value) >= 1:
        temp_result = []
        final_result = []
        
        # to remove empty string
        for tpl in value:
            indi_tpl = list(filter(lambda x: x !='', list(tpl)))
            temp_result.append(indi_tpl)
            
        for numls in temp_result:
            # to convert string into number
            if any(j in ['K','k'] for j in numls[0]):
                num = numls[0].replace('K','')
                num = num.replace('k','')
                num = float(num) * 1000
            elif any(j in ['M','m'] for j in numls[0]):
                num = numls[0].replace('M','')
                num = num.replace('m','')
                num = float(num) * 1000000
            elif ',' in numls[0]:
                num = float(''.join(numls[0].split(',')))
            else:
                num = np.nan
            
            final_result.append(num)
        if len(value) == 1:
            min_result, max_result = final_result[0], final_result[0]
        else:
            min_result = final_result[0]
            max_result = final_result[1]
    return [min_result, max_result]


df['Title salary'] = df['Job title'].apply(min_max_salary)
df['Min title salary'] = df['Title salary'].apply(lambda x: x[0])
df['Max title salary'] = df['Title salary'].apply(lambda x: x[1])

# To showcase the how the regex works:

In [28]:
x = ['System Analyst / Analyst Programmer (Java/.Net) Up to 45K',
     'Analyst Programmer - C#, ASP.NET, MVC, MS SQL | 25K - 35K',
     'Frontend/ Backend Engineer (UP to 45k)',
     'Software Engineer (backend) | Banking & Finance | HKD 40,000 - HKD 50,000',
     'System Analyst | Banking | 40K - 45K',
     'Senior System Analyst | Banking | 45K - 55K',
     'Voice Engineer - up to 50K',
     'Systems Analyst (.NET) - Life Insurance - 42k - Contract',
     'DevOps Engineer - 60-80k ~ Innovative Company!',
     'Devops Engineer - 30k - Contract - MNC',
     'Data Science Analyst (Listed Group) (5 days work, No Sat) (18K-23K)',
     'Insurance Business Analyst-upto 65K 12 months rolling contract',
     'Frontend/ Backend Engineer (UP to 45k)',
     'Insurance Business Analyst-up to $65K',
     'Performance Analyst- up to $60K',
     'Voice Engineer - up to 50K',
     'Investment Manager, A MNC Entreprise Basic Salary: 40K-60K',
     'Analyst Programmer, Web & Mobile App ($30K)',
     'Senior Data Engineer, Machine Learning (HKD 800K - 1.2M)',
     'Senior Software Engineer (Java/TDD) ~ up to 80K',
     'Investment Analyst (in-house) - 30k',
     'Senior Data Management Analyst - Reinsurance - Up to 36k',
     'Multiple Openings* Assistant Data Manager (Finance; Up to 45k)',
     'Analyst Programmer (BI/ETL) (HKD 25-30K)',
     'Data Management Analyst (30-40K)',
     '(Senior) Business Analyst (banking) - 20- 40k',
     'QA / Software Tester 20 ‚Äì 25K',
     'Programmer / Analyst Programmer (Java) 16 ‚Äì 28K',
     'Business Analyst (Insurance) - 25-45k',
     'Senior Financial Analyst - Manufacturing (Up to 38k)',
     'Business Analyst/ Tester (Banking/ IT)- (20-30k)',
     'Manager, Data Scientist (FMCG / Big Data / Up to 60K)']
     
for i in x:
    #temp = i.replace(' ','')
    #value = re.findall('((\d+)-*(\d+)*(k|K|m|M))|((\d+,d+)-(d*,*d*))|[hkd|HKD]\s*(\d+,\d+)-*[hkd|HKD]*(\d*,*\d*)',i)
    value = re.findall('((\d+)(k|K|m|M)*(\d*\.\d*)*(k|K|m|M))|((\d+,d+)-(d*,*d*))|(\d+,\d+)-*(\d*,*\d*)',i)
    #value = re.findall('((\d+)(\d+\d*)*(k|K|m|M))|((\d+,d+)-(d*,*d*))|(\d+,\d+)-*(\d*,*\d*)',i)
    #value = re.findall('((\d+)-*(\d+)*(k|K|m|M))|((\d+,d+)-(d*,*d*))|(\d+,\d+)-*(\d*,*\d*)',temp)
    print('\n',i)
    print(value)

 System Analyst / Analyst Programmer (Java/.Net) Up to 45K
[('45K', '45', '', '', 'K', '', '', '', '', '')]

 Analyst Programmer - C#, ASP.NET, MVC, MS SQL | 25K - 35K
[('25K', '25', '', '', 'K', '', '', '', '', ''), ('35K', '35', '', '', 'K', '', '', '', '', '')]

 Frontend/ Backend Engineer (UP to 45k)
[('45k', '45', '', '', 'k', '', '', '', '', '')]

 Software Engineer (backend) | Banking & Finance | HKD 40,000 - HKD 50,000
[('', '', '', '', '', '', '', '', '40,000', ''), ('', '', '', '', '', '', '', '', '50,000', '')]

 System Analyst | Banking | 40K - 45K
[('40K', '40', '', '', 'K', '', '', '', '', ''), ('45K', '45', '', '', 'K', '', '', '', '', '')]

 Senior System Analyst | Banking | 45K - 55K
[('45K', '45', '', '', 'K', '', '', '', '', ''), ('55K', '55', '', '', 'K', '', '', '', '', '')]

 Voice Engineer - up to 50K
[('50K', '50', '', '', 'K', '', '', '', '', '')]

 Systems Analyst (.NET) - Life Insurance - 42k - Contract
[('42k', '42', '', '', 'k', '', '', '', '', '')]

 DevOps Engineer - 60-80k ~ Innovative Company!
[('80k', '80', '', '', 'k', '', '', '', '', '')]

 Devops Engineer - 30k - Contract - MNC
[('30k', '30', '', '', 'k', '', '', '', '', '')]

 Data Science Analyst (Listed Group) (5 days work, No Sat) (18K-23K)
[('18K', '18', '', '', 'K', '', '', '', '', ''), ('23K', '23', '', '', 'K', '', '', '', '', '')]

 Insurance Business Analyst-upto 65K 12 months rolling contract
[('65K', '65', '', '', 'K', '', '', '', '', '')]

 Frontend/ Backend Engineer (UP to 45k)
[('45k', '45', '', '', 'k', '', '', '', '', '')]

 Insurance Business Analyst-up to $65K
[('65K', '65', '', '', 'K', '', '', '', '', '')]

 Performance Analyst- up to $60K
[('60K', '60', '', '', 'K', '', '', '', '', '')]

 Voice Engineer - up to 50K
[('50K', '50', '', '', 'K', '', '', '', '', '')]

 Investment Manager, A MNC Entreprise Basic Salary: 40K-60K
[('40K', '40', '', '', 'K', '', '', '', '', ''), ('60K', '60', '', '', 'K', '', '', '', '', '')]

 Analyst Programmer, Web & Mobile App ($30K)
[('30K', '30', '', '', 'K', '', '', '', '', '')]

 Senior Data Engineer, Machine Learning (HKD 800K - 1.2M)
[('800K', '800', '', '', 'K', '', '', '', '', ''), ('1.2M', '1', '', '.2', 'M', '', '', '', '', '')]

 Senior Software Engineer (Java/TDD) ~ up to 80K
[('80K', '80', '', '', 'K', '', '', '', '', '')]

 Investment Analyst (in-house) - 30k
[('30k', '30', '', '', 'k', '', '', '', '', '')]

 Senior Data Management Analyst - Reinsurance - Up to 36k
[('36k', '36', '', '', 'k', '', '', '', '', '')]

 Multiple Openings* Assistant Data Manager (Finance; Up to 45k)
[('45k', '45', '', '', 'k', '', '', '', '', '')]

 Analyst Programmer (BI/ETL) (HKD 25-30K)
[('30K', '30', '', '', 'K', '', '', '', '', '')]

 Data Management Analyst (30-40K)
[('40K', '40', '', '', 'K', '', '', '', '', '')]

 (Senior) Business Analyst (banking) - 20- 40k
[('40k', '40', '', '', 'k', '', '', '', '', '')]

 QA / Software Tester 20 ‚Äì 25K
[('25K', '25', '', '', 'K', '', '', '', '', '')]

 Programmer / Analyst Programmer (Java) 16 ‚Äì 28K
[('28K', '28', '', '', 'K', '', '', '', '', '')]

 Business Analyst (Insurance) - 25-45k
[('45k', '45', '', '', 'k', '', '', '', '', '')]

 Senior Financial Analyst - Manufacturing (Up to 38k)
[('38k', '38', '', '', 'k', '', '', '', '', '')]

 Business Analyst/ Tester (Banking/ IT)- (20-30k)
[('30k', '30', '', '', 'k', '', '', '', '', '')]

 Manager, Data Scientist (FMCG / Big Data / Up to 60K)
[('60K', '60', '', '', 'K', '', '', '', '', '')]

# Step B: Find the max and min Salary from 'Salary' column

In [29]:
def min_max_salary_column(x):
    try:
        salary_str = str(x).replace('$','').replace(',','')

        if '-' in salary_str:
            numls = salary_str.split('-')
            min_salary = int(numls[0])
            max_salary = int(numls[1])
        else:
            min_salary, max_salary = int(salary_str),int(salary_str)
    except:
        min_salary, max_salary = np.nan, np.nan
    
    return [min_salary,max_salary]

df['Salary'] =  df['Salary'].apply(min_max_salary_column) 
df['Min header salary'] = df['Salary'].apply(lambda x: x[0])
df['Max header salary'] = df['Salary'].apply(lambda x: x[1])

# Final Step: Finalised Salary Data

- Min, Max Salary
- Average Salary
- Salary Group

In [30]:
df['Min salary'] = df['Min header salary'].fillna(df['Min title salary'])
df['Max salary'] = df['Max header salary'].fillna(df['Max title salary'])
df['Average salary'] = df.loc[:,'Min salary':'Max salary'].mean(axis=1)

def salary_range(x):
    if x < 10000:
        group = 'Below 10000'
    elif 10000 <= x < 20000:
        group = '10000-19999'
    elif 20000 <= x < 30000:
        group = '20000-29999'
    elif 30000 <= x < 40000:
        group = '30000-39999'
    elif 40000 <= x < 50000:
        group = '40000-49999'
    elif 50000 <= x < 60000:
        group = '50000-59999'
    elif 60000 <= x < 70000:
        group = '60000-69999'
    elif x>= 70000:
        group = '70000 or above'
    else:
        group = 'Not Mentioned'
    return group
    
df['Salary group'] = df['Average salary'].apply(salary_range)    
df = df.drop(['Salary','Title salary','Min header salary','Max header salary','Min title salary','Max title salary'],axis=1)

df

,Issued time,Country,Job category,Job title,Company,Part time/ Full Time,Star review,Number of reviews,Location,Job description,Indeed link,Min salary,Max salary,Average salary,Salary group
612,0,Hong Kong,Data analyst,Analyst Programmer/ Senior .NET Developer,Mtel Solutions Limited,Full-time,NaN,NaN,Hong Kong,"We are digital enabler\n\nWe create ideas, dep...",https://hk.indeed.com/rc/clk?jk=f49711d0e78bfd...,NaN,NaN,NaN,Not Mentioned
551,0,Hong Kong,Data analyst,Analyst Programmer (Java/ .NET),Speedy Group Corp. Limited,NaN,NaN,NaN,Hong Kong,Speedy Group is one of the leading integrated ...,https://hk.indeed.com/rc/clk?jk=ab040ca9bd68f0...,NaN,NaN,NaN,Not Mentioned
106,0,Hong Kong,Data analyst,"Analyst, Fixed Income and OTC Derivatives",BOCI,Full-time,3.8,5,Hong Kong,See Job Description\n\nThe role\n\nThis incumb...,https://hk.indeed.com/rc/clk?jk=54c8494dab2114...,NaN,NaN,NaN,Not Mentioned
563,0,Hong Kong,Data analyst,QA Engineer Automated,International Recruitment Group - IRG ltd,Full-time,NaN,NaN,Hong Kong,"Duties\nDesign, Develop, Maintain Automated Te...",https://hk.indeed.com/rc/clk?jk=51f27a6b2f73ab...,NaN,NaN,NaN,Not Mentioned
859,0,Hong Kong,Data scientist,Data Scientist (Team Lead),Conners Consulting,NaN,NaN,NaN,"Sheung Wan, Hong Kong Island",Job Highlights*Formulate long term data analys...,https://hk.indeed.com/company/Conners-Consulti...,NaN,NaN,NaN,Not Mentioned
528,0,Hong Kong,Data analyst,IT Audit & Risk Assurance(Analyst to Manager)3...,Xponential Personnel Limited,Full-time / Part-time,NaN,NaN,Hong Kong,XP Personnel is a Digital Recruitment Agency t...,https://hk.indeed.com/rc/clk?jk=70bdf31b92c718...,60000.0,60000.0,60000.0,60000-69999
660,0,Hong Kong,Data analyst,System Analyst / Analyst Programmer / Programm...,Leadership Solutions Limited,Full-time,NaN,NaN,Hong Kong,Founded in Hong Kong since 2003 to servebusine...,https://hk.indeed.com/rc/clk?jk=12c53b11e9c798...,NaN,NaN,NaN,Not Mentioned
264,0,Hong Kong,Data analyst,"AVP/Associate/Analyst, Infrastructure (IT Divi...",BOC International Holdings Ltd,Full-time,3.5,4,Hong Kong,As a leading investment bank in China and Hong...,https://hk.indeed.com/rc/clk?jk=dedc3668844d4f...,NaN,NaN,NaN,Not Mentioned
33,0,Hong Kong,Data analyst,Business Analyst,KY & Company,NaN,NaN,NaN,Hong Kong,Perform in depth As Is To Be analysis to deliv...,https://hk.indeed.com/company/KY-&-Company/job...,NaN,NaN,NaN,Not Mentioned
631,0,Hong Kong,Data analyst,Change Manager -up to 65K 12 months rolling co...,Protiviti Hong Kong,Full-time,NaN,NaN,Hong Kong,Protiviti is a global consulting firm that del...,https://hk.indeed.com/rc/clk?jk=2d1d202c2a4025...,65000.0,65000.0,65000.0,60000-69999
870,0,Hong Kong,Data scientist,"Director, AI Research - Data Scientist",KOS International Limited,Full-time,NaN,NaN,Hong Kong,Job Description\nAbout the Client\nOur client ...,https://hk.indeed.com/rc/clk?jk=19b289c9403482...,NaN,NaN,NaN,Not Mentioned
892,0,Hong Kong,Data scientist,"Lead Data Scientist (Banking and Finance, Tele...",Techson Consulting Limited,NaN,NaN,NaN,Hong Kong,ABOUT TECHSON\n\nTechsonConsulting Limited is ...,https://hk.indeed.com/rc/clk?jk=97da343880f902...,NaN,NaN,NaN,Not Mentioned
692,0,Hong Kong,Data analyst,"System Analyst, Analyst programmer, Programmer...",Leadership Solutions Limited,Full-time,NaN,NaN,Hong Kong,Founded in Hong Kong since 2003 to serve busin...,https://hk.indeed.com/rc/clk?jk=07109a476cc3b2...,NaN,NaN,NaN,Not Mentioned
207,0,Hong Kong,Data analyst,Surveillance Manager,HSBC,NaN,4,13413,"Central, Hong Kong Island",The health and safety of our employees and can...,https://hk.indeed.com/rc/clk?jk=0497845e26686e...,NaN,NaN,NaN,Not Mentioned
828,0,Hong Kong,Data analyst,Cyber Security/IT Security(Senior Analyst to M...,Xponential Personnel Limited,Full-time / Part-time,NaN,NaN,Hong Kong,XP Personnel is a Digital Recruitment Agency t...,https://hk.indeed.com/rc/clk?jk=0fc1b3ae484915...,60000.0,60000.0,60000.0,60000-69999
54,0,Hong Kong,Data analyst,Actuarial Analyst,RGA,NaN,NaN,NaN,Hong Kong,Position Overview\n\nThe Actuarial Analyst wil...,https://hk.indeed.com/rc/clk?jk=a278c47973b5f3...,NaN,NaN,NaN,Not Mentioned
723,0,Hong Kong,Data analyst,Software Engineering Director - Greenfield Pro...,Hudson,NaN,NaN,NaN,"Central and Western District, Hong Kong Island",Min. 10 years of exp. in software engineering\...,https://hk.indeed.com/rc/clk?jk=a28c7f5027d454...,NaN,NaN,NaN,Not Mentioned
278,0,Hong Kong,Data analyst,Project Manager -upto 65K 12 months rolling co...,Protiviti Hong Kong,Full-time,NaN,NaN,Hong Kong,Protiviti is a global consulting firm that del...,https://hk.indeed.com/rc/clk?jk=0455f3695b127a...,65000.0,65000.0,65000.0,60000-69999
889,0,Hong Kong,Data scientist,Software Engineer,Clover Health,NaN,NaN,NaN,Hong Kong,Clover is reinventing health insurance by work...,https://hk.indeed.com/company/Clover-Health/jo...,NaN,NaN,NaN,Not Mentioned
144,0,Hong Kong,Data scientist,Data Engineer,Prime Insight,Full-time,NaN,NaN,Hong Kong,Our client is a successful start-up with stron...,https://hk.indeed.com/rc/clk?jk=1447579f419acc...,NaN,NaN,NaN,Not Mentioned
85,0,Hong Kong,Data analyst,Data Science(Analyst to Team Lead)-Fintech/Ins...,Xponential Personnel Limited,Full-time / Part-time,NaN,NaN,Hong Kong,XP Personnel is a Digital Recruitment Agency t...,https://hk.indeed.com/rc/clk?jk=9b2942124e209b...,80000.0,80000.0,80000.0,70000 or above
3,0,Hong Kong,Data analyst,APAC | Hong Kong | Global Transaction Services...,Bank of America,NaN,3.8,29396,Hong Kong,Our Business\nGlobal Transaction Services (GTS...,https://hk.indeed.com/rc/clk?jk=653babb9a51de0...,NaN,NaN,NaN,Not Mentioned
647,1,Hong Kong,Data analyst,System Analyst / Analyst Programmer (Java/.Net...,Techson Consulting Limited,Full-time,NaN,NaN,Hong Kong,ABOUT TECHSON Techson Consulting Limited is a ...,https://hk.indeed.com/rc/clk?jk=5fa9c017014afb...,45000.0,45000.0,45000.0,40000-49999
547,1,Hong Kong,Data analyst,Analyst Programmer (Java) – Information Techno...,Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,https://hk.indeed.com/rc/clk?jk=90657db51c7060...,NaN,NaN,NaN,Not Mentioned
329,1,Hong Kong,Data analyst,Senior Analyst Programmer (.NET) – Information...,Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,https://hk.indeed.com/rc/clk?jk=6a5a5e7e5bd152...,NaN,NaN,NaN,Not Mentioned
856,1,Hong Kong,Data scientist,Data Scientist – Innovation Analytic Lab,Match Talent,Full-time,NaN,NaN,Hong Kong,My client is looking for a talent who will be ...,https://hk.indeed.com/rc/clk?jk=e87acfd9d617c8...,NaN,NaN,NaN,Not Mentioned
850,1,Hong Kong,Data analyst,Account Manager/ Presales consultant/ / suppor...,Mtel Career Consulting,Full-time,NaN,NaN,Hong Kong,M TEL Career Consulting provides recruitment s...,https://hk.indeed.com/rc/clk?jk=babb262033d244...,NaN,NaN,NaN,Not Mentioned
364,1,Hong Kong,Data analyst,IT Business Analyst / Vice President - System ...,"Mizuho Bank, Ltd",Full-time,3.3,168,Hong Kong,"Company Overview Mizuho Bank, Limited has a lo...",https://hk.indeed.com/rc/clk?jk=6b9b9b4a0d7efe...,NaN,NaN,NaN,Not Mentioned
862,1,Hong Kong,Data scientist,Data Scientist (Team Lead),Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,https://hk.indeed.com/rc/clk?jk=41e1287b88df3c...,NaN,NaN,NaN,Not Mentioned
231,1,Hong Kong,Data analyst,Sourcing Analyst (Contract),Links International,Full-time,NaN,NaN,Hong Kong,Links International is an award-winning indust...,https://hk.indeed.com/rc/clk?jk=05d35462a60072...,NaN,NaN,NaN,Not Mentioned
315,1,Hong Kong,Data analyst,Analyst Programmer,Hong Leong Insurance (Asia) Limited,Full-time,NaN,NaN,Hong Kong,Hong Leong Insurance (Asia) Limited (HLIA) is ...,https://hk.indeed.com/rc/clk?jk=0b5226b62a04f5...,NaN,NaN,NaN,Not Mentioned
453,1,Hong Kong,Data analyst,融資經理 / Corporate Finance Manager,Brightoil Petroleum (Holdings) Limited,Full-time,NaN,NaN,Hong Kong,"Brightoil Petroleum (Holdings) Limited, is a f...",https://hk.indeed.com/rc/clk?jk=dbcb2916b17f25...,NaN,NaN,NaN,Not Mentioned
890,1,Hong Kong,Data scientist,Fintech - AI Data Scientist,Wellesley Associates,NaN,NaN,NaN,Hong Kong,Great company reputation\nCompetitive salary p...,https://hk.indeed.com/rc/clk?jk=295d56a2e0d1dc...,NaN,NaN,NaN,Not Mentioned
412,1,Hong Kong,Data analyst,Java / Telecom - Analyst Programmer / Programmer,IT Search ( Recruitment Firm ),Full-time,NaN,NaN,New Territories,Client : A global telecom corporation with sol...,https://hk.indeed.com/company/IT-Search/jobs/J...,20000.0,35000.0,27500.0,20000-29999
403,1,Hong Kong,Data analyst,System Analyst - Mainframe,Hudson,NaN,NaN,NaN,"Central and Western District, Hong Kong Island","Core Banking System\nCOBOL, CICS\nPermanent Ro...",https://hk.indeed.com/rc/clk?jk=1b1b9d685de1d6...,NaN,NaN,NaN,Not Mentioned
134,1,Hong Kong,Data analyst,Assistant Financial Analyst – Finance,Bank Consortium Trust Company Limited,Full-time,NaN,NaN,Hong Kong,BCT Group (BCT) comprises Bank Consortium Trus...,https://hk.indeed.com/rc/clk?jk=7fba540a7a69b5...,NaN,NaN,NaN,Not Mentioned
132,1,Hong Kong,Data analyst,Business Analyst,Inchcape Hong Kong Limited,Full-time,NaN,NaN,Hong Kong,"Inchcape Hong Kong Limited Limited, Crown Moto...",https://hk.indeed.com/rc/clk?jk=72c68c0b9b017a...,NaN,NaN,NaN,Not Mentioned
131,1,Hong Kong,Data analyst,Analyst Programmer,Inchcape Hong Kong Limited,Full-time,NaN,NaN,Hong Kong,"Inchcape Hong Kong Limited Limited, Crown Moto...",https://hk.indeed.com/rc/clk?jk=c3592d204a2627...,NaN,NaN,NaN,Not Mentioned
208,1,Hong Kong,Data analyst,Senior Actuarial Analyst,Don Nelson Recruitment Limited,Full-time,NaN,NaN,Hong Kong,"Don Nelson is an unique, fast growing and awar...",https://hk.indeed.com/rc/clk?jk=e3bef660dd876f...,NaN,NaN,NaN,Not Mentioned
670,1,Hong Kong,Data analyst,Application Manager / Application Architect - ...,Links International,Full-time,NaN,NaN,Hong Kong,Links International is an award-winning indust...,https://hk.indeed.com/rc/clk?jk=21c525bdcbe48c...,NaN,NaN,NaN,Not Mentioned
490,1,Hong Kong,Data analyst,"Manager / Assistant Manager / Analyst, Informa...",Springer Professional Group Limited,Full-time,NaN,NaN,Hong Kong,As a leading executive search and recruitment ...,https://hk.indeed.com/rc/clk?jk=00edf31d9c5281...,NaN,NaN,NaN,Not Mentioned
324,1,Hong Kong,Data analyst,Analyst Programmer,Bonjour Cosmetic Wholesale Center Limited,NaN,NaN,NaN,Hong Kong,We are one of leading cosmetic retailer with o...,https://hk.indeed.com/rc/clk?jk=85b9e85745de33...,NaN,NaN,NaN,Not Mentioned
874,1,Hong Kong,Data scientist,Data Scientist (Team Lead) (Ref: ID/PRD/DS),Computer And Technologies International Limited,NaN,NaN,NaN,Hong Kong Island,Responsibility:Work with stakeholders througho...,https://hk.indeed.com/company/Computer-And-Tec...,NaN,NaN,NaN,Not Mentioned
553,1,Hong Kong,Data analyst,"Assistant Manager (Azure,O365)",KOS International Limited,Full-time,NaN,NaN,Hong Kong,Job Description\nAbout the Client\n\nOur clien...,https://hk.indeed.com/rc/clk?jk=8496b360e3aee7...,NaN,NaN,NaN,Not Mentioned
946,1,Hong Kong,Data scientist,"Manager, Consumer Insights",The Nielsen Company (Hong Kong)Ltd,NaN,3.8,2591,"Quarry Bay, Hong Kong Island","For our Hong Kong office, we are currently rec...",https://hk.indeed.com/rc/clk?jk=030c1262e565d7...,NaN,NaN,NaN,Not Mentioned
221,1,Hong Kong,Data analyst,Business Analyst,aimHigher Consultancy Limited,NaN,NaN,NaN,Hong Kong,aimHigher provides professional executive sear...,https://hk.indeed.com/rc/clk?jk=1f1b60247bdf4a...,NaN,NaN,NaN,Not Mentioned
259,2,Hong Kong,Data analyst,Senior Business Improvement Analyst,Cathay Pacific Services Limited,NaN,4.1,280,"Lantau Island, New Territories",Job Description\nWe are hiring Senior Business...,https://hk.indeed.com/pagead/clk?mo=r&ad=-6NYl...,NaN,NaN,NaN,Not Mentioned
618,2,Hong Kong,Data analyst,Urgent !! Healthcare Team – Analyst Programmer...,Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,https://hk.indeed.com/rc/clk?jk=ed05ab89baeb30...,NaN,NaN,NaN,Not Mentioned
854,2,Hong Kong,Data scientist,Data Scientist / Associate Data Scientist / Tr...,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=9e1c44f7774b5a...,NaN,NaN,NaN,Not Mentioned
179,2,Hong Kong,Data analyst,Programmer/ Analyst Programmer (Java) x 2 Open...,Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,https://hk.indeed.com/rc/clk?jk=148569f31fba86...,NaN,NaN,NaN,Not Mentioned
228,2,Hong Kong,Data analyst,Technical Analyst - VMware,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=0df7e05652eed4...,NaN,NaN,NaN,Not Mentioned
246,2,Hong Kong,Data analyst,Cyber Security Analyst,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=3cb0c81b0dae1f...,NaN,NaN,NaN,Not Mentioned
251,2,Hong Kong,Data analyst,Project Manager / Business Analyst (Circa 480K...,ATA - Aacurapid Talent Acquisition,Full-time,NaN,NaN,Hong Kong,Job Highlight: Banking / Finance SectorProject...,https://hk.indeed.com/company/ATA---Aacurapid-...,40000.0,58000.0,49000.0,40000-49999
13,2,Hong Kong,Data analyst,Web Programmer and Data Analyst:,A4lution Limited,Full-time,NaN,NaN,"Kwun Tong, Kowloon","Job Descriptions:Define, document and translat...",https://hk.indeed.com/company/A4lution-Limited...,15000.0,30000.0,22500.0,20000-29999
14,2,Hong Kong,Data analyst,Data Analyst,"Hong Kong Asian Ark Technologies Co., Limited",Full-time,NaN,NaN,Hong Kong,http://www.hkasianark.com/\n\nAsian ark is a y...,https://hk.indeed.com/rc/clk?jk=dd3535bbd43fbe...,NaN,NaN,NaN,Not Mentioned
472,2,Hong Kong,Data analyst,Analyst Programmer in .NET (Insurance Industry),Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,https://hk.indeed.com/rc/clk?jk=932fb4fe4f3d3e...,NaN,NaN,NaN,Not Mentioned
43,2,Hong Kong,Data analyst,Research Analyst,"Hong Kong Asian Ark Technologies Co., Limited",NaN,NaN,NaN,Hong Kong,http://www.hkasianark.com/\n\nAsian ark is a y...,https://hk.indeed.com/rc/clk?jk=238f1910ef330c...,NaN,NaN,NaN,Not Mentioned
40,2,Hong Kong,Data analyst,Operations Analyst Trainee Program,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=2c94b03b26d0db...,NaN,NaN,NaN,Not Mentioned
401,2,Hong Kong,Data analyst,Assistant Technical Analyst - Embedded System ...,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=cc710f42041ff1...,NaN,NaN,NaN,Not Mentioned
30,2,Hong Kong,Data analyst,Business Analyst Trainee Program,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=6b08bde9ad7ae1...,NaN,NaN,NaN,Not Mentioned
883,2,Hong Kong,Data scientist,Data Scientist,Radica Systems Limited,NaN,NaN,NaN,Hong Kong,WHAT YOU'LL DO:\nConstruct data science workfl...,https://hk.indeed.com/rc/clk?jk=06c6b01ba9a504...,NaN,NaN,NaN,Not Mentioned
78,2,Hong Kong,Data analyst,Data Engineer ( Telecom Industry ),IT Search ( Recruitment Firm ),Full-time,NaN,NaN,New Territories,The client is a global telecom corporation wit...,https://hk.indeed.com/company/IT-Search/jobs/D...,35000.0,60000.0,47500.0,40000-49999
595,2,Hong Kong,Data analyst,"Assistant Manager/Senior Analyst, Risk Management",FTLife Insurance Company Limited,NaN,NaN,NaN,Hong Kong,FTLife Insurance Company Limited (FTLife) is o...,https://hk.indeed.com/rc/clk?jk=b83cb919e84a47...,NaN,NaN,NaN,Not Mentioned
885,2,Hong Kong,Data scientist,Data Scientist Lead (Mobile),Kai OS Technologies (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,KaiOS Technologies powers an ecosystem of affo...,https://hk.indeed.com/rc/clk?jk=c8aa2d98de0a9b...,NaN,NaN,NaN,Not Mentioned
55,2,Hong Kong,Data scientist,Assistant Technical Analyst - Machine Learning...,CargoSmart (Hong Kong) Limited,NaN,NaN,NaN,Hong Kong,We are a leading international container trans...,https://hk.indeed.com/rc/clk?jk=74c401805e341e...,NaN,NaN,NaN,Not Mentioned
575,2,Hong Kong,Data analyst,Urgent!! Senior System Analyst / System Analys...,Automated Systems (HK) Ltd,Full-time,3.3,4,Hong Kong,Total Computer Solutions You Can Trust\n\nAuto...,https://hk.indeed.com/rc/clk?jk=a7bb7687d5edbf...,NaN,NaN,NaN,Not Mentioned
898,2,Hong Kong,Data scientist,"AI Data Scientist (Computer Vision), Global Te...",Hays,NaN,3.6,846,Hong Kong,This is one of the top Technology company with...,https://hk.indeed.com/rc/clk?jk=13094aa5b2a16d...,NaN,NaN,NaN,Not Mentioned
201,3,Hong Kong,Data analyst,Business Analyst,Hutchison Telecommunications (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,Hutchison Telecommunications (Hong Kong) Limit...,https://hk.indeed.com/rc/clk?jk=26f1ddec8410f2...,NaN,NaN,NaN,Not Mentioned
952,3,Hong Kong,Data scientist,Project Manager / System Architect / Full Stac...,SmartBlkTrade,NaN,NaN,NaN,Hong Kong,Requirements ( Partially acceptable):\n\nKnowl...,https://hk.indeed.com/rc/clk?jk=a1240d47c0eb48...,NaN,NaN,NaN,Not Mentioned
439,3,Hong Kong,Data analyst,Analyst Programmer,HGC Global Communications Limited,Full-time,NaN,NaN,Hong Kong,HGC Global Communications Limited (HGC) is a l...,https://hk.indeed.com/rc/clk?jk=a1999309483808...,NaN,NaN,NaN,Not Mentioned
314,3,Hong Kong,Data analyst,Tender Management Business Analyst,Hellmann Worldwide Logistics Limited,Full-time,NaN,NaN,Hong Kong,Hellmann Worldwide Logistics is a privately ow...,https://hk.indeed.com/rc/clk?jk=64d9bae253c88a...,NaN,NaN,NaN,Not Mentioned
513,3,Hong Kong,Data analyst,Analyst Programmer/System Analyst,Innovairre Communications (Asia) Limited,NaN,NaN,NaN,Hong Kong,We are an expanding offset printing paper prod...,https://hk.indeed.com/rc/clk?jk=3f8099fd680363...,NaN,NaN,NaN,Not Mentioned
569,3,Hong Kong,Data analyst,Senior Analyst Programmer / Analyst Programmer,HGC Global Communications Limited,Full-time,NaN,NaN,Hong Kong,HGC Global Communications Limited (HGC) is a l...,https://hk.indeed.com/rc/clk?jk=af9163c9937113...,NaN,NaN,NaN,Not Mentioned
905,3,Hong Kong,Data scientist,Analytical Scientist/ Analytical Researcher (R...,Bright Future Pharmaceutical Laboratories Ltd,Full-time,NaN,NaN,Hong Kong,B right F uture Pharmaceutical Laboratories Lt...,https://hk.indeed.com/rc/clk?jk=89ac1449b3a1a3...,NaN,NaN,NaN,Not Mentioned
341,3,Hong Kong,Data analyst,Software Analyst (Backend Java development),Hutchison Telecommunications (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,Hutchison Telecommunications (Hong Kong) Limit...,https://hk.indeed.com/rc/clk?jk=81f639c6342024...,NaN,NaN,NaN,Not Mentioned
349,3,Hong Kong,Data analyst,Senior Financial Analyst - Global Law Firm,Links International,Full-time,NaN,NaN,Hong Kong,Links International is an award-winning indust...,https://hk.indeed.com/rc/clk?jk=4bc564a1399f4d...,NaN,NaN,NaN,Not Mentioned
46,3,Hong Kong,Data analyst,Senior Data Analyst/ Data Analyst (MNC/ ETL/ V...,Pro-Tech Technology (Asia) Limited,Full-time,NaN,NaN,Hong Kong,Highlight:MNC (FinTech)1 yr contract (Immediat...,https://hk.indeed.com/company/Pro--Tech-Techno...,NaN,NaN,NaN,Not Mentioned
249,3,Hong Kong,Data analyst,Assistant Business Analyst / Business Analyst ...,DCH Auriga (Hong Kong) Limited,Full-time,NaN,NaN,Hong Kong,"DCH Auriga (former company name LF Asia), a me...",https://hk.indeed.com/rc/clk?jk=1e2ddfd42ade07...,NaN,NaN,NaN,Not Mentioned


# Education Level (Minimum and Maximum Requirement)

to see what education level can master the job

In [31]:
def min_edu_lv(x):
    x = str(x)
    if 'Diploma' in x:
        edu_lv = 'Diploma'
        
    elif ' hd ' in x.lower() or 'higher diploma' in x.lower():
        edu_lv = 'Higher Diploma'
    
    elif 'bachelor' in x.lower() or 'university' in x.lower() or 'degree holder' in x.lower() or 'Degree' in x or 'Bsc' in x:
        edu_lv = 'Bachelor'
        
    elif "master's" in x.lower() or 'MBA' in x or 'Msc' in x or 'Master' in x:
        edu_lv = "Master"
        
    elif 'phd' in x.lower() or 'doctorate' in x.lower():
        edu_lv = 'PhD'
        
    else:
        edu_lv = 'Not specified'

    return edu_lv

def max_edu_lv(x):
    x = str(x)
    if 'phd' in x.lower() or 'doctorate' in x.lower():
        edu_lv = 'PhD'
        
    elif "master's" in x.lower() or 'MBA' in x or 'Msc' in x or 'Master' in x:
        edu_lv = "Master"
    
    elif 'bachelor' in x.lower() or 'university' in x.lower() or 'degree holder' in x.lower() or 'Degree' in x:
        edu_lv = 'Bachelor'
        
    elif ' hd ' in x.lower() or 'higher diploma' in x.lower():
        edu_lv = 'Higher Diploma'
        
    elif 'Diploma' in x:
        edu_lv = 'Diploma'
    else:
        edu_lv = 'Not specified'

    return edu_lv
        

df['Minimum education level'] = df['Job description'].apply(min_edu_lv)
df['Maximum education level'] = df['Job description'].apply(max_edu_lv)

# Skill Set Required
- Create a dictionary to store all skill set required
    - Key : Column Name of each skill
    - Value: key words for matching string

In [32]:
skill_ls = {'Python': ['Python','Python'.lower()], 
             'Machine Learning':['Machine Learning'.lower(), 'Machine Learning'],
             'JavaScript': ['JavaSript'.lower(),'JavaScript'],
             'R':[' R ','R,'],
             'Java':['Java ','Java'.lower(),' Java '],
             'IoT':['IoT'],
             'Excel':['Microsoft Excel','Excel',' Excel '], 
             'Power BI':['BI','Power BI'],
             'English':['English','english'],
             'Chinese':['Cantonese','Cantonese'.lower(),'Mandarin','Mandarin'.lower(),'Chinese','Chinese'.lower(),"Putonghua",'putonghua'],
             'SAS':['SAS','sas'.lower()],
             'Oracle':['Oracle','Oracle'.lower()],
             'C++':['C++','c++'],
             'C#':['C#','c#'],
             'C':[' C ',' c '],
             'Qlik':['Qlik','Qlik'.lower()],
             'alteryx':['Alteryx','Altery'],
             'Tableau':['tableau','Tableau'],
             'SPSS':['SPSS','SPSS'.lower()],
             'Powerpoint':['Microsoft Powerpoint','Microsoft Powerpoint'.lower(),'Powerpoint','powerpoint'.lower()],
             'PostgreSQL':['PostgreSQL','PostgreSQL'.lower()],
             'SQL':[' SQL ',' SQL '.lower()],
             'MySQL':['MySQL','MySQL'.lower()]}    

# Summarize skills into two categories
program_ls = []
visual_ls = []
for ls in [skill_ls['Python'],skill_ls['R']]:
    for j in ls:
        program_ls.append(j)
for ls in [skill_ls['Tableau'], skill_ls['Qlik'], skill_ls['Power BI']]:
    for j in ls:
        visual_ls.append(j)
skill_ls['Visualisation tool'] = visual_ls
skill_ls['Programming tool'] = program_ls
# append to column
for key, value in skill_ls.items():
    df[key] = df['Job description'].apply(lambda x: 'Y'  if any(j in x for j in value) else np.nan)

# Star Rating / Company Review

In [33]:
def score(x):
    try:
        if x < 1:
            score = 'Less than 1 star'
        elif 1 <= x <2:
            score = '1.0 to 1.99 stars'
        elif 2 <= x < 3:
            score = '2.0 to 2.99 stars'
        elif 3 <= x < 4:
            score = '3.0 to 3.99 stars'
        elif 4 <= x < 5:
            score = '4.0 to 4.99 stars'
        else:
            score = '5.0 stars'
    except:
            score = np.nan
    return score
df['Star group'] = df['Star review'].apply(score)

In [34]:
df

    Issued time    Country    Job category  \
612           0  Hong Kong    Data analyst
551           0  Hong Kong    Data analyst
106           0  Hong Kong    Data analyst
563           0  Hong Kong    Data analyst
859           0  Hong Kong  Data scientist
528           0  Hong Kong    Data analyst
660           0  Hong Kong    Data analyst
264           0  Hong Kong    Data analyst
33            0  Hong Kong    Data analyst
631           0  Hong Kong    Data analyst
870           0  Hong Kong  Data scientist
892           0  Hong Kong  Data scientist
692           0  Hong Kong    Data analyst
207           0  Hong Kong    Data analyst
828           0  Hong Kong    Data analyst
54            0  Hong Kong    Data analyst
723           0  Hong Kong    Data analyst
278           0  Hong Kong    Data analyst
889           0  Hong Kong  Data scientist
144           0  Hong Kong  Data scientist
85            0  Hong Kong    Data analyst
3             0  Hong Kong    Data analyst
647           1  Hong Kong    Data analyst
547           1  Hong Kong    Data analyst
329           1  Hong Kong    Data analyst
856           1  Hong Kong  Data scientist
850           1  Hong Kong    Data analyst
364           1  Hong Kong    Data analyst
862           1  Hong Kong  Data scientist
231           1  Hong Kong    Data analyst
315           1  Hong Kong    Data analyst
453           1  Hong Kong    Data analyst
890           1  Hong Kong  Data scientist
412           1  Hong Kong    Data analyst
403           1  Hong Kong    Data analyst
134           1  Hong Kong    Data analyst
132           1  Hong Kong    Data analyst
131           1  Hong Kong    Data analyst
208           1  Hong Kong    Data analyst
670           1  Hong Kong    Data analyst
490           1  Hong Kong    Data analyst
324           1  Hong Kong    Data analyst
874           1  Hong Kong  Data scientist
553           1  Hong Kong    Data analyst
946           1  Hong Kong  Data scientist
221           1  Hong Kong    Data analyst
259           2  Hong Kong    Data analyst
618           2  Hong Kong    Data analyst
854           2  Hong Kong  Data scientist
179           2  Hong Kong    Data analyst
228           2  Hong Kong    Data analyst
246           2  Hong Kong    Data analyst
251           2  Hong Kong    Data analyst
13            2  Hong Kong    Data analyst
14            2  Hong Kong    Data analyst
472           2  Hong Kong    Data analyst
43            2  Hong Kong    Data analyst
40            2  Hong Kong    Data analyst
401           2  Hong Kong    Data analyst
30            2  Hong Kong    Data analyst
883           2  Hong Kong  Data scientist
78            2  Hong Kong    Data analyst
595           2  Hong Kong    Data analyst
885           2  Hong Kong  Data scientist
55            2  Hong Kong  Data scientist
575           2  Hong Kong    Data analyst
898           2  Hong Kong  Data scientist
201           3  Hong Kong    Data analyst
952           3  Hong Kong  Data scientist
439           3  Hong Kong    Data analyst
314           3  Hong Kong    Data analyst
513           3  Hong Kong    Data analyst
569           3  Hong Kong    Data analyst
905           3  Hong Kong  Data scientist
341           3  Hong Kong    Data analyst
349           3  Hong Kong    Data analyst
46            3  Hong Kong    Data analyst
249           3  Hong Kong    Data analyst
476           4  Hong Kong    Data analyst
483           4  Hong Kong    Data analyst
5             4  Hong Kong    Data analyst
527           5  Hong Kong    Data analyst
233           5  Hong Kong    Data analyst
385           5  Hong Kong    Data analyst
471           5  Hong Kong    Data analyst
666           5  Hong Kong    Data analyst
514           5  Hong Kong    Data analyst
325           5  Hong Kong    Data analyst
442           5  Hong Kong    Data analyst
266           5  Hong Kong    Data analyst
317           5  Hong Kong    Data analyst
365           5  Hong Kong    Data analyst
607           5  Hong Kong    Data analyst
977           5  Hong Kong  Data scientist
796           5  Hong Kong  Data scientist
82            6  Hong Kong    Data analyst
404           6  Hong Kong    Data analyst
16            6  Hong Kong    Data analyst
116           6  Hong Kong    Data analyst
841           6  Hong Kong    Data analyst
232           6  Hong Kong    Data analyst
487           6  Hong Kong    Data analyst
229           6  Hong Kong    Data analyst
285           6  Hong Kong    Data analyst
500           6  Hong Kong    Data analyst
289           6  Hong Kong    Data analyst
361           6  Hong Kong    Data analyst
70            6  Hong Kong    Data analyst
531           6  Hong Kong    Data analyst
562           6  Hong Kong    Data analyst
657           6  Hong Kong    Data analyst
241           6  Hong Kong    Data analyst
92            6  Hong Kong    Data analyst
427           6  Hong Kong    Data analyst
105           6  Hong Kong    Data analyst
245           6  Hong Kong    Data analyst
848           6  Hong Kong    Data analyst
793           6  Hong Kong    Data analyst
443           6  Hong Kong    Data analyst
766           6  Hong Kong    Data analyst
250           6  Hong Kong    Data analyst
633           6  Hong Kong    Data analyst
166           6  Hong Kong    Data analyst
757           6  Hong Kong    Data analyst
462           6  Hong Kong  Data scientist
444           7  Hong Kong    Data analyst
202           7  Hong Kong    Data analyst
913           7  Hong Kong  Data scientist
433           7  Hong Kong    Data analyst
99            7  Hong Kong    Data analyst
587           7  Hong Kong    Data analyst
301           7  Hong Kong    Data analyst
168           7  Hong Kong    Data analyst
291           7  Hong Kong    Data analyst
9             7  Hong Kong    Data analyst
496           7  Hong Kong    Data analyst
911           7  Hong Kong  Data scientist
181           7  Hong Kong    Data analyst
461           7  Hong Kong    Data analyst
485           7  Hong Kong    Data analyst
840           8  Hong Kong    Data analyst
902           8  Hong Kong  Data scientist
243           8  Hong Kong    Data analyst
606           8  Hong Kong    Data analyst
336           8  Hong Kong    Data analyst
18            8  Hong Kong    Data analyst
858           9  Hong Kong  Data scientist
677           9  Hong Kong    Data analyst
609           9  Hong Kong    Data analyst
718           9  Hong Kong    Data analyst
879           9  Hong Kong  Data scientist
177           9  Hong Kong    Data analyst
235           9  Hong Kong    Data analyst
274           9  Hong Kong    Data analyst
501           9  Hong Kong    Data analyst
27            9  Hong Kong    Data analyst
963           9  Hong Kong  Data scientist
463           9  Hong Kong    Data analyst
693           9  Hong Kong    Data analyst
352           9  Hong Kong    Data analyst
914           9  Hong Kong  Data scientist
636           9  Hong Kong    Data analyst
774           9  Hong Kong    Data analyst
312           9  Hong Kong    Data analyst
400          10  Hong Kong  Data scientist
968          10  Hong Kong  Data scientist
863          10  Hong Kong  Data scientist
956          10  Hong Kong  Data scientist
498          10  Hong Kong    Data analyst
204          10  Hong Kong    Data analyst
903          10  Hong Kong  Data scientist
29           10  Hong Kong    Data analyst
41           10  Hong Kong  Data scientist
875          11  Hong Kong  Data scientist
530          11  Hong Kong    Data analyst
908          12  Hong Kong  Data scientist
702          12  Hong Kong    Data analyst
430          12  Hong Kong    Data analyst
958          12  Hong Kong  Data scientist
287          12  Hong Kong    Data analyst
912          12  Hong Kong  Data scientist
597          12  Hong Kong    Data analyst
277          12  Hong Kong    Data analyst
387          12  Hong Kong    Data analyst
84           12  Hong Kong    Data analyst
276          12  Hong Kong    Data analyst
77           13  Hong Kong    Data analyst
934          13  Hong Kong  Data scientist
59           13  Hong Kong    Data analyst
441          13  Hong Kong    Data analyst
877          13  Hong Kong  Data scientist
975          13  Hong Kong  Data scientist
884          13  Hong Kong  Data scientist
783          13  Hong Kong    Data analyst
826          13  Hong Kong    Data analyst
739          13  Hong Kong    Data analyst
803          13  Hong Kong    Data analyst
763          13  Hong Kong    Data analyst
57           14  Hong Kong    Data analyst
582          14  Hong Kong    Data analyst
949          14  Hong Kong  Data scientist
414          14  Hong Kong    Data analyst
644          14  Hong Kong    Data analyst
932          14  Hong Kong  Data scientist
25           14  Hong Kong    Data analyst
897          14  Hong Kong  Data scientist
680          14  Hong Kong    Data analyst
834          14  Hong Kong    Data analyst
552          15  Hong Kong    Data analyst
724          15  Hong Kong    Data analyst
561          15  Hong Kong    Data analyst
39           15  Hong Kong    Data analyst
220          15  Hong Kong    Data analyst
778          15  Hong Kong    Data analyst
256          15  Hong Kong    Data analyst
223          16  Hong Kong    Data analyst
918          16  Hong Kong  Data scientist
926          16  Hong Kong  Data scientist
948          16  Hong Kong  Data scientist
732          16  Hong Kong    Data analyst
81           16  Hong Kong    Data analyst
21           16  Hong Kong    Data analyst
12           16  Hong Kong  Data scientist
326          16  Hong Kong    Data analyst
432          16  Hong Kong    Data analyst
279          16  Hong Kong    Data analyst
549          17  Hong Kong    Data analyst
951          17  Hong Kong  Data scientist
265          17  Hong Kong    Data analyst
7            17  Hong Kong    Data analyst
193          17  Hong Kong    Data analyst
681          17  Hong Kong    Data analyst
119          18  Hong Kong    Data analyst
536          19  Hong Kong    Data analyst
327          19  Hong Kong  Data scientist
497          19  Hong Kong    Data analyst
141          19  Hong Kong    Data analyst
143          19  Hong Kong    Data analyst
866          19  Hong Kong  Data scientist
145          19  Hong Kong    Data analyst
969          19  Hong Kong  Data scientist
255          19  Hong Kong  Data scientist
353          19  Hong Kong    Data analyst
347          20  Hong Kong    Data analyst
386          20  Hong Kong    Data analyst
816          20  Hong Kong    Data analyst
730          20  Hong Kong    Data analyst
772          20  Hong Kong    Data analyst
313          20  Hong Kong    Data analyst
682          20  Hong Kong    Data analyst
216          20  Hong Kong    Data analyst
864          20  Hong Kong  Data scientist
305          20  Hong Kong  Data scientist
605          20  Hong Kong    Data analyst
627          21  Hong Kong    Data analyst
502          21  Hong Kong    Data analyst
642          21  Hong Kong    Data analyst
974          21  Hong Kong  Data scientist
406          21  Hong Kong    Data analyst
474          21  Hong Kong    Data analyst
38           21  Hong Kong    Data analyst
252          21  Hong Kong    Data analyst
907          21  Hong Kong  Data scientist
135          21  Hong Kong    Data analyst
696          21  Hong Kong    Data analyst
192          21  Hong Kong    Data analyst
710          21  Hong Kong    Data analyst
773          22  Hong Kong    Data analyst
292          22  Hong Kong    Data analyst
323          22  Hong Kong    Data analyst
847          22  Hong Kong    Data analyst
379          22  Hong Kong    Data analyst
753          22  Hong Kong    Data analyst
517          22  Hong Kong    Data analyst
457          23  Hong Kong    Data analyst
827          23  Hong Kong    Data analyst
416          23  Hong Kong    Data analyst
635          23  Hong Kong    Data analyst
596          23  Hong Kong    Data analyst
147          23  Hong Kong    Data analyst
91           23  Hong Kong    Data analyst
598          23  Hong Kong    Data analyst
546          23  Hong Kong    Data analyst
942          23  Hong Kong  Data scientist
712          23  Hong Kong    Data analyst
169          24  Hong Kong    Data analyst
742          24  Hong Kong    Data analyst
133          24  Hong Kong    Data analyst
484          24  Hong Kong    Data analyst
103          24  Hong Kong    Data analyst
64           26  Hong Kong    Data analyst
362          26  Hong Kong    Data analyst
286          26  Hong Kong  Data scientist
194          26  Hong Kong    Data analyst
68           26  Hong Kong    Data analyst
363          26  Hong Kong    Data analyst
837          26  Hong Kong    Data analyst
262          26  Hong Kong    Data analyst
392          26  Hong Kong    Data analyst
67           26  Hong Kong    Data analyst
896          27  Hong Kong  Data scientist
967          27  Hong Kong  Data scientist
634          27  Hong Kong    Data analyst
684          27  Hong Kong    Data analyst
488          27  Hong Kong    Data analyst
4            27  Hong Kong  Data scientist
203          27  Hong Kong    Data analyst
244          27  Hong Kong    Data analyst
373          28  Hong Kong    Data analyst
953          28  Hong Kong  Data scientist
786          28  Hong Kong    Data analyst
415          28  Hong Kong    Data analyst
608          28  Hong Kong    Data analyst
391          28  Hong Kong    Data analyst
405          28  Hong Kong    Data analyst
560          28  Hong Kong    Data analyst
293          29  Hong Kong    Data analyst
210          29  Hong Kong    Data analyst
645          29  Hong Kong    Data analyst
417          29  Hong Kong    Data analyst
690          29  Hong Kong    Data analyst
876          29  Hong Kong  Data scientist
936          29  Hong Kong  Data scientist
785          29  Hong Kong    Data analyst
794          30  Hong Kong    Data analyst
806          30  Hong Kong    Data analyst
805          30  Hong Kong    Data analyst
804          30  Hong Kong    Data analyst
780          30  Hong Kong    Data analyst
152          30  Hong Kong    Data analyst
782          30  Hong Kong    Data analyst
151          30  Hong Kong    Data analyst
784          30  Hong Kong    Data analyst
802          30  Hong Kong    Data analyst
142          30  Hong Kong    Data analyst
798          30  Hong Kong    Data analyst
797          30  Hong Kong    Data analyst
146          30  Hong Kong    Data analyst
787          30  Hong Kong    Data analyst
788          30  Hong Kong    Data analyst
150          30  Hong Kong    Data analyst
149          30  Hong Kong    Data analyst
795          30  Hong Kong    Data analyst
808          30  Hong Kong    Data analyst
120          30  Hong Kong    Data analyst
836          30  Hong Kong    Data analyst
835          30  Hong Kong    Data analyst
833          30  Hong Kong    Data analyst
825          30  Hong Kong    Data analyst
807          30  Hong Kong    Data analyst
824          30  Hong Kong    Data analyst
822          30  Hong Kong    Data analyst
130          30  Hong Kong    Data analyst
817          30  Hong Kong  Data scientist
815          30  Hong Kong    Data analyst
810          30  Hong Kong    Data analyst
809          30  Hong Kong    Data analyst
823          30  Hong Kong    Data analyst
777          30  Hong Kong    Data analyst
743          30  Hong Kong    Data analyst
741          30  Hong Kong    Data analyst
740          30  Hong Kong    Data analyst
178          30  Hong Kong    Data analyst
733          30  Hong Kong    Data analyst
180          30  Hong Kong    Data analyst
731          30  Hong Kong    Data analyst
182          30  Hong Kong    Data analyst
188          30  Hong Kong    Data analyst
722          30  Hong Kong    Data analyst
721          30  Hong Kong    Data analyst
720          30  Hong Kong    Data analyst
719          30  Hong Kong    Data analyst
189          30  Hong Kong    Data analyst
190          30  Hong Kong    Data analyst
171          30  Hong Kong    Data analyst
153          30  Hong Kong    Data analyst
776          30  Hong Kong    Data analyst
775          30  Hong Kong    Data analyst
154          30  Hong Kong    Data analyst
838          30  Hong Kong    Data analyst
155          30  Hong Kong    Data analyst
156          30  Hong Kong    Data analyst
771          30  Hong Kong    Data analyst
765          30  Hong Kong    Data analyst
764          30  Hong Kong    Data analyst
758          30  Hong Kong    Data analyst
756          30  Hong Kong    Data analyst
755          30  Hong Kong    Data analyst
754          30  Hong Kong    Data analyst
167          30  Hong Kong    Data analyst
170          30  Hong Kong    Data analyst
839          30  Hong Kong    Data analyst
115          30  Hong Kong    Data analyst
117          30  Hong Kong    Data analyst
939          30  Hong Kong  Data scientist
938          30  Hong Kong  Data scientist
937          30  Hong Kong  Data scientist
935          30  Hong Kong  Data scientist
32           30  Hong Kong    Data analyst
933          30  Hong Kong  Data scientist
931          30  Hong Kong  Data scientist
930          30  Hong Kong  Data scientist
929          30  Hong Kong  Data scientist
928          30  Hong Kong  Data scientist
927          30  Hong Kong  Data scientist
42           30  Hong Kong  Data scientist
925          30  Hong Kong  Data scientist
924          30  Hong Kong  Data scientist
923          30  Hong Kong  Data scientist
922          30  Hong Kong  Data scientist
921          30  Hong Kong  Data scientist
920          30  Hong Kong  Data scientist
919          30  Hong Kong  Data scientist
44           30  Hong Kong    Data analyst
917          30  Hong Kong  Data scientist
916          30  Hong Kong  Data scientist
915          30  Hong Kong  Data scientist
45           30  Hong Kong    Data analyst
47           30  Hong Kong  Data scientist
910          30  Hong Kong  Data scientist
940          30  Hong Kong  Data scientist
941          30  Hong Kong  Data scientist
31           30  Hong Kong    Data analyst
943          30  Hong Kong  Data scientist
973          30  Hong Kong  Data scientist
972          30  Hong Kong  Data scientist
971          30  Hong Kong  Data scientist
970          30  Hong Kong  Data scientist
6            30  Hong Kong    Data analyst
8            30  Hong Kong    Data analyst
10           30  Hong Kong  Data scientist
966          30  Hong Kong  Data scientist
965          30  Hong Kong  Data scientist
964          30  Hong Kong  Data scientist
11           30  Hong Kong    Data analyst
962          30  Hong Kong  Data scientist
961          30  Hong Kong  Data scientist
909          30  Hong Kong  Data scientist
960          30  Hong Kong  Data scientist
15           30  Hong Kong    Data analyst
957          30  Hong Kong  Data scientist
17           30  Hong Kong    Data analyst
955          30  Hong Kong  Data scientist
954          30  Hong Kong  Data scientist
19           30  Hong Kong    Data analyst
20           30  Hong Kong  Data scientist
950          30  Hong Kong  Data scientist
26           30  Hong Kong  Data scientist
947          30  Hong Kong  Data scientist
28           30  Hong Kong    Data analyst
945          30  Hong Kong  Data scientist
944          30  Hong Kong  Data scientist
959          30  Hong Kong  Data scientist
118          30  Hong Kong    Data analyst
906          30  Hong Kong  Data scientist
94           30  Hong Kong    Data analyst
869          30  Hong Kong  Data scientist
868          30  Hong Kong  Data scientist
867          30  Hong Kong  Data scientist
95           30  Hong Kong    Data analyst
865          30  Hong Kong  Data scientist
96           30  Hong Kong    Data analyst
861          30  Hong Kong  Data scientist
860          30  Hong Kong  Data scientist

# Step 6: Export dataframe to CSV

In [20]:
df.to_csv('Indeed.csv')